{% extends 'website/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/proceso_compra_style.css' %}">
<style>
.table-responsive {overflow-x: inherit !important;}
</style>
{% endblock css %}

{% block content %}
    <div class="container">
        <!-- Ubicacion de la pagina -->
        <div class="col-xs-12" style="margin: 20px 0">
            <a href="{% url 'index' %}" class="enlances_detalle">Home / </a>
            <p style="display: inline-block; font-family: inherit !important; color: #59bf8f">Caja de compras</p>
        </div>
        <!-- CONTENIDO -->
        <div class="table-responsive">
            <table class="table table-hover" id="tabla">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Productos en tu caja</th>
                    <th class="text-center">Color</th>
                    <th class="text-center">Talla</th>
                    <th class="text-center">Servicio</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Total Unitaria</th>
                    <th class="text-center">Total</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!--Imagen del producto-->
                    <th style="width:15%;">
                        <img src="{% static 'images/a1.png' %}" width="50%" alt="" class="img-thumbnail" style="display: inline-block; padding: 0!important;">
                    </th>
                    <!--Nombre y detalle del producto-->
                    <th>
                        <p style="color: #a0a0a0; font-family: 'subtitulos'!important;">Reloj Pebble time</p>
                                            <a style="color: #898989" href="{% url 'detalle' %}">Detalle del producto</a>
                    </th>
                    <!-- Color -->
                    <th class="text-center"><div style="height: 20px; width: 20px; border-radius: 50px; background-color: #111633; margin: 0 auto"></div></th>
                    <!-- talla -->
                    <th class="text-center"><p style="text-transform: uppercase">xs</p></th>
                    <!--Servicios-->
                    <th>
                        <select class="form-control" style="border-radius: 0 !important ">
                            <option>Aereo</option>
                            <option>Maritimo</option>
                            <option>Puerta</option>
                        </select>
                    </th>
                    <!--cantidad del producto-->
                    <th class="text-center"><input type="number" min="0" class="cantidad"></th>
                    <!--total unitario-->
                    <th class="text-center"><p>$320.00</p></th>
                    <!--total-->
                    <th class="text-center"><p>$320.00</p></th>
                    <th><span class="glyphicon glyphicon-remove pull-right"></span></th>
                </tr>
                <tr>
                    <!--Imagen del producto-->
                    <th style="width:15%;">
                        <img src="{% static 'images/a2.png' %}" width="50%" alt="" class="img-thumbnail" style="display: inline-block; padding: 0!important;">
                    </th><!--Nombre y detalle del producto-->
                    <th>
                                            <p style="color: #a0a0a0; font-family: 'subtitulos'!important;">Reloj Pebble time</p>
                        <a style="color: #898989" href="{% url 'detalle' %}">Detalle del producto</a>
                    </th>
                    <!-- Color -->
                    <th class="text-center"><div style="height: 20px; width: 20px; border-radius: 50px; background-color: #59bf8f; margin: 0 auto"></div></th>
                    <!-- talla -->
                    <th class="text-center"><p style="text-transform: uppercase">xl</p></th>
                    <!--Servicios-->
                    <th>
                        <select class="form-control" style="border-radius: 0 !important ">
                            <option>Aereo</option><option>Maritimo</option>
                            <option>Puerta</option>
                        </select>
                    </th>
                    <!--cantidad del producto-->
                    <th class="text-center"><input type="number" min="0" class="cantidad"></th>
                    <!--total unitario-->
                    <th class="text-center"><p>$320.00</p></th>
                    <!--total-->
                    <th class="text-center"><p>$320.00</p></th>
                    <th><span class="glyphicon glyphicon-remove pull-right"></span></th>
                </tr>
                <tr>
                    <!--Imagen del producto-->
                    <th style="width:15%;">
                        <img src="{% static 'images/a3.png' %}" width="50%" alt="" class="img-thumbnail" style="display: inline-block; padding: 0!important;">
                    </th>
                    <!--Nombre y detalle del producto-->
                    <th>
                        <p style="color: #a0a0a0; font-family: 'subtitulos'!important;">Reloj Pebble time</p>
                        <a style="color: #898989" href="{% url 'detalle' %}">Detalle del producto</a>
                    </th>
                    <!-- Color -->
                    <th class="text-center"><div style="height: 20px; width: 20px; border-radius: 50px; background-color: #fdc300; margin: 0 auto"></div></th>
                    <!-- talla -->
                    <th class="text-center"><p style="text-transform: uppercase">m</p></th>
                    <!--Servicios-->
                    <th>
                        <select class="form-control" style="border-radius: 0 !important ">
                            <option>Aereo</option>
                            <option>Maritimo</option>
                            <option>Puerta</option>
                        </select>
                    </th>
                    <!--cantidad del producto-->
                    <th class="text-center"><input type="number" min="0" class="cantidad"></th>
                    <!--total unitario-->
                    <th class="text-center"><p>$320.00</p></th>
                    <!--total-->
                    <th class="text-center"><p>$320.00</p></th>
                    <th><span class="glyphicon glyphicon-remove pull-right"></span></th>
                </tr>
                </tbody>
            </table>
            <!-- Envio y cupon -->
            <div class="col-sm-4">
                <form class="form" action="">
                    <div class="form-group">
                        <label style="color: #111633 !important;">¿Envio Internacional?</label>
                        <input class="pull-right" type="checkbox">
                    </div>
                    <hr>
                    <div class="form-group">
                        <p>Cupón de descuento</p>
                        <input type="text">
                        <button type="button" class="btn boton">APLICAR</button>
                    </div>
                </form>
            </div>
            <!-- Precios -->
            <div class="col-sm-6  col-sm-offset-2">
                <div class="pull-right">
                    <p style="font-family: 'titulos' !important; font-size: 20px;">Total a pagar: <strong>$5,325.00</strong></p>
                    <p style="text-align: right">Cupón: $200.00</p>
                    <p style="text-align: right" >IVA 23098712</p>
                    <hr style="background-color: #59bf8f; height: 2px;">
                    <p style="font-family: 'titulos' !important; font-size: 20px;">Total a pagar: <strong>$5,325.00</strong></p>
                </div>
            </div>
        </div>
        <!-- botones -->
        <div class="col-sm-12 botones" style="margin-bottom: 20px">
            <button class="btn btn-md pull-right boton" id="siguiente" type="button">COMPRAR</button>
        </div>
    </div>
{% endblock content %}

{% block js %} <script type="text/javascript" src="{% static 'js/general.js' %}"></script>{% endblock js %}