{% extends 'website/index.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/detalle_style.css' %}">
<link rel="stylesheet" href="{% static 'css/ultimos_publicados_style.css' %}"> 
{% endblock css %} 
{% block content %}
<div class="container" id="detalle_producto" style="padding: 0 25px!important;">
    <!-- CONTENIDO -->
    <div class="row imagenes_producto" style="padding: 35px 0">
        <!-- Ubicacion de la pagina -->
        <div class="col-xs-12" style="margin: 20px 0">
            <a href="{% url 'index' %}" class="enlances_detalle">Home / </a>
            <a href="{% url 'listado' %}" class="enlances_detalle">Pagina de resultados / </a>
            <p style="display: inline-block;font-family: inherit !important; color: #59bf8f">Detalle del producto</p>
        </div>
        <div class="col-md-6" style="padding: 10px">
            <!-- IMAGENES DEL PRODUCTO -->
            <div class="col-md-2 col-sm-2 col-xs-12 text-center minis">
                <img class="cont-img col-md-12 col-sm-6 col-xs-12" src="{% static 'images/uno.png'%}" width="85px" height="85px">
                <img class="cont-img col-md-12 col-sm-6 col-xs-12" src="{% static 'images/dos.png'%}" width="85px" height="85px">
                <img class="cont-img col-md-12 col-sm-6 col-xs-12" src="{% static 'images/tres.png'%}" width="85px" height="85px">
                <img class="cont-img col-md-12 col-sm-6  col-xs-12" src="{% static 'images/cuatro.png'%}" width="85px" height="85px">
            </div>
            <div class="col-md-8 col-sm-10 col-xs-12 text-center imagene_producto">
                <img src="{% static 'images/cinco.png'%}" width="450px" height="400px" style="
    margin-left: 10px;">
            </div>
        </div>
        <!-- Detalles del producto -->
        <div class="col-md-6" id="detalles_producto">
            <!-- nombre y precio del producto -->
            <div class="col-md-12">
                <h1 style="display: inline-block; font-family: 'titulos'!important;">PEBBLE TIME</h1>
                <h1 class="pull-right" style="display: inline-block; font-family: 'titulos'!important;">
                Precio: <strong style="color: red">$238.00</strong></h1>
                <p style="color: #59bf8f">Se el primero en calificar este item
                    <span class="glyphicon glyphicon-star yellow" style="margin-left: 10px;" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                </p>
            </div>
            <!-- botones principales -->
            <div class="col-md-12 text-center botones" style="padding: 5px 20px;">
                <button class="btn btn-default" type="button" id="detalles" style="float: left">Detalles</button>
                <button class="btn btn-default" type="button" id="pago">Pago</button>
                <button class="btn btn-default" type="button" id="envio" style="float: right">Envio</button>
            </div>
            <!-- CONTENIDO detalle -->
            <div class="col-md-12 text-center detalles">
                <p style="text-align: justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam atque autem dignissimos doloribus eius in ipsam
                    iure magnam maiores minima molestias providentoluptate voluptatem.
                </p>
                <div class="form-group" id="fom1" style="display: inline-block; float:left;">
                    <p style="color: #59bf8f">Colores disponibles</p>
                    <div style="background-color: #59bf8f; border-radius: 50px; height: 15px; width: 15px; display: inline-block;"></div>
                    <div style="background-color: #fdc300; border-radius: 50px; height: 15px; width: 15px; display: inline-block"></div>
                    <div style="background-color: #111633; border-radius: 50px; height: 15px; width: 15px; display: inline-block"></div>
                    <div style="background-color: red; border-radius: 50px; height: 15px; width: 15px; display: inline-block"></div>
                </div>
                <div class="form-group" id="fom2" style="display: inline-block">
                    <label for="talla" style="color: #59bf8f">Talla</label>
                    <select class="form-control" id="talla">
                                <option>xs</option>
                                <option>s</option>
                                <option>m</option>
                                <option>l</option>
                                <option>xl</option>
                            </select>
                </div>
                <div class="form-group" id="fom3" style="display: inline-block; float:right;">
                    <label for="cantidad" style="color: #59bf8f">Cantidad</label>
                    <input type="number" class="form-control" id="cantidad" min="0">
                </div>
            </div>
            <!-- CONTENIDO pago -->
            <div class="col-md-12 text-center pago" style="display: none">
                <h4 class="text-center" style="color: #a2a2a2 !important;">Metodos de pago</h4>
                <div class="metodos_pago">
                    <img src="{% static 'images/pp.png' %}" id="paypal" alt="">
                </div>
            </div>
            <!-- CONTENIDO envio-->
            <div class="col-md-12 text-center envio" style="display: none">
                <p class="text-center">Selecciona el tipo de servicio y calcula tu pedido</p>
                <div class="">
                    <label class="checkbox-inline"><input type="checkbox" value="">AEREO</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">MARITIMO</label>
                </div>
                <div class="estimador">
                    <div class="form-group" style="display: inline-block">
                        <label for="cantidad2">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad2" min="0" style="width: 70px !important;border-radius: 0px !important;">
                    </div>
                    <div class="form-group" style="display: inline-block;">
                        <label for="precio">Precio Total</label>
                        <input type="number" class="form-control" id="precio" disabled style="border-radius: 0px !important;">
                    </div>
                    <div class="" style="display: inline-block;">
                        <button class="btn btn-comprar" type="button">CALCULAR</button>
                    </div>
                    <div class="form-group text-center monto">
                        <label for="monto" style="color: #59bf8f">Monto a pagar</label>
                        <input type="number" class="form-control" id="monto" disabled style="margin: 0 auto; width: 160px !important;border-radius: 0px !important;">
                    </div>
                </div>
            </div>
            <!-- botones secundarios -->
            <div class="col-md-12 text-center botones" style="padding: 5px 20px;">
                <a href="" class="btn btn-agregar" type="button" style="float: left">
                            <img src="{% static 'images/icons/greenbox.png' %}" alt="greenbox">
                            AGREGAR A LA CAJA
                        </a>
                <a href="{% url 'compra' %}" class="btn btn-comprar" type="button" style="float: right">COMPRAR</a>
            </div>
        </div>
    </div>
</div>
<!-- Ultimos Publicados -->
{% include 'website/ultimos_publicados.html' %} 
{% endblock content %} 
{% block js %}<script type="text/javascript" src="{% static 'js/general.js' %}"></script>{% endblock js %}