{% extends 'website/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/registro_style.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <!-- ULTIMO PASO -->
        <div class="exitoso">
                <div class="titulo text-center">
                    <h2>REGISTRO EXITOSO</h2>
                    <h4>CREA TU CUENTA PACKFORWARD</h4>
                </div>
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;"><h3>1</h3></div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;"><h3>2</h3></div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;"><h3>3</h3></div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;"><h3>4</h3></div>
                </div>
                <div class="buzon text-center">
                    <img src="{% static 'images/visto.png' %}" width="18%" alt="finish">
                    <h4><strong>Felicidades</strong> Haz creado correctamente tu cuenta Packforward</h4>
                    <p style="margin-bottom: 20px">Enviaremos a tu correo electronico, un enlace con el cual podras
                        <br> activar tu cuenta packforward</p>
                </div>
            </div>
    </div>
{% endblock content %}

{% block js %}
{% endblock js %}