<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PackForward</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png'%}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/rating.css' %}"> 
    {% block css %} {% endblock css %}
</head>

<body>
    <!-- Contenido -->
    <div class="container-fluid" style="padding: 0!important;">
        <!-- NAVBARS & LOGIN -->
        {% include "website/index_sections/header.html" %}
        <!-- main imagen -->
        {% include "website/index_sections/banner.html" %}
        <!-- servicios -->
        {% include "website/index_sections/servicios.html" %} 
        {% block content %}
            <!-- CONTENIDO -->
            <!-- Estimador -->
            {% include "website/index_sections/estimador.html" %}
            <!-- Shop & Order -->
            {% include "website/index_sections/shop.html" %}
            <!-- Noticias -->
            {% include "website/index_sections/noticias.html" %}
            <!-- Contactanos -->
            {% include "website/index_sections/contactanos.html" %}
            <!-- Clientes -->
            {% include "website/index_sections/clientes.html" %}
            <!-- Testimoniales -->
            {% include "website/index_sections/testimoniales.html" %} 
        {% endblock content%}
        <!-- Footer -->
        {% include "website/index_sections/footer.html" %}
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/general.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tab.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static 'js/estimador.js' %}" rel="stylesheet"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB458H0-FQbf7-1CYAAGx3RisIf4ztAdY&callback=myMap"
        type="text/javascript"></script>
    {% block js %} {% endblock js %}
</body>
</html>