{% extends 'website/index.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/noticias_style.css' %}">
<style>
    /*.bx-wrapper .bx-controls-direction a {  margin-top: 80px !important;  }*/

    .bxslider>li { padding: 0 85px !important; }

    @media screen and (max-width: 768px) {
        .bxslider>li { padding: 0 15px !important; }
    }
</style>
{% endblock css %} 
{% block content %}
<div class="container-fluid" id="informacion">
    <div class="row">
        <!-- Ubicacion de la pagina -->
        <div class="col-xs-12" style="margin-top: 20px">
            <a href="{% url 'index' %}" class="enlances_detalle">Home / </a>
            <p style="display: inline-block; font-family: inherit !important; color: #59bf8f !important">Nosotros</p>
        </div>
        <!-- CONTENIDO -->
        <div class="col-sm-4 text-center" id="info-main" style="background-color: #111633; color: white; padding: 50px 0">
            <ul class="bxslider">
                {% autoescape on %}
                    {% for lis in texto %}
                        <li>{{lis}}</li>
                    {%endfor%}
                {% endautoescape %}
            </ul>
        </div>
        <div class="col-sm-4 tamaño-main" style="padding: 0; margin: 0;">
            <div class="col-sm-12" style="padding: 0; margin: 0;">
                <img src="{{imagen}}" class="img-responsive" style="margin: 0 auto">
            </div>
            <div class="col-sm-12" style="padding: 0; margin: 0;">
                <img src="{{imagen2}}" class="img-responsive" style="margin: 0 auto">
            </div>
        </div>
        <div class="col-sm-4 tamaño-second" style="padding: 0; margin: 0;">
            <div class="col-sm-12" style="padding: 0; margin: 0;">
                <img src="{{imagen3}}" class="img-responsive" style="margin: 0 auto">
            </div>
        </div>
    </div>
</div>
<!-- Recibir Noticias -->
{% include 'website/recibirnoticias.html' %} 
{% endblock content %} 
{% block js %}<script type="text/javascript" src="{% static 'js/general.js' %}"></script>{% endblock js %}