{% extends 'website/index.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/listado_style.css' %}">
<link rel="stylesheet" href="{% static 'css/ultimos_publicados_style.css' %}"> 
{% endblock css %} 
{% block content %}
<div class="container">
    <div class="row">
        <!-- Centro -->
        <div class="col-sx-12" style="margin: 20px 0">
            <div style="display: inline-block">
                <h4>All Products
                    <p style="color: #59bf8f; display: inline-block">
                        <a href="{% url 'index' %}" style="font-family: sans-serif !important; color: #59bf8f !important;">home </a>
                        <p style="font-family: inherit !important; display: inline-block; color: #59bf8f"> &#62 categoria</p>
                </h4>
            </div>
            <div class="icons" style="display: inline-block; float: right">
                <span id="icon_cuadros" class="glyphicon glyphicon-th-large"></span>
                <span id="icon_hrz" class="glyphicon glyphicon-th-list hidden-xs"></span>
            </div>
            <hr style="background-color: #59bf8f; height: 2px; margin:0 !important;">
        </div>
        <!-- Sidebar -->
        <div class="col-md-3 col-sm-4">
            <!-- MENU -->
            <div class="col-xs-12" style="background-color: #fbfbfb; margin-bottom: 10px">
                <ul style="padding: 10px 0 10px 0">
                    <li class="dropdown categoria-side">
                        <a href="#" class="dropdown-toggle menu_a" data-toggle="dropdown" role="button">ELECTRONICA</a>
                        <ul class="dropdown-menu menu-b">
                            <li><a href="#" class="subCateg">SubCategorias</a></li>
                            <li><a href="#" class="subCateg">SubCategorias2</a></li>
                            <li><a href="#" class="subCateg">SubCategorias3</a></li>
                            <li><a href="#" class="subCateg">SubCategorias4</a></li>
                            <li><a href="#" class="subCateg">SubCategorias5</a></li>
                        </ul>
                    </li>
                    <li class="categoria-side">ROPA Y ACCESORIOS</li>
                    <li class="categoria-side">EQUIPOS DE COCINA</li>
                    <li class="categoria-side">PARTES AUTOMOTRICES</li>
                    <li class="categoria-side">COMESTIBLES Y SALUD</li>
                    <li class="categoria-side">ARTICULOS DE LIMPIEZA</li>
                    <li class="categoria-side">CUIDADO PERSONAL</li>
                    <li class="categoria-side">EQUIPOS INDUSTRIALES</li>
                    <li class="categoria-side">PRECIO
                        <input class="input-side" type="number" min="0" value="10"> -
                        <input class="input-side" type="number" min="0" value="100"></li>
                    <li class="dropdown categoria-side">
                        <a href="#" class="dropdown-toggle menu_a" data-toggle="dropdown" role="button">MARCAS</a>
                        <ul class="dropdown-menu menu-b">
                            <li><a href="#" class="subCateg">ADIDAS</a></li>
                            <li><a href="#" class="subCateg">NIKE</a></li>
                            <li><a href="#" class="subCateg">PUMA</a></li>
                        </ul>
                        <li class="categoria-side">MODELOS</li>
                </ul>
            </div>
            <!-- MAS VENDIDO -->
            <h4 class="text-center col-xs-12" style="background-color: white; color: #111633;">LO MÁS VENDIDO</h4>
            <div class="col-xs-12 masvendido">
                <div class="col-sm-12 vendidos">
                    <div class="mini-vendido">
                        <img class="img-thumbnail" src="{% static 'images/producto5.png' %}" width="65px" height="65px">
                    </div>
                    <div style="display: inline-block; margin-left: 80px;">
                        <p class="prod_name" style="max-height: 40px; min-height: 40px;">Nombre del producto</p>
                        <p class="prod_color">Blanco</p>
                        <p class="prod_precio" style="display: inline-block;">300$</p>
                        <img src="{% static 'images/icons/bluebox.png' %}" class="blubox">
                    </div>
                </div>
                <div class="col-sm-12 vendidos">
                    <div class="mini-vendido">
                        <img class="img-thumbnail" src="{% static 'images/producto3.jpg' %}" width="65px" height="65px">
                    </div>
                    <div style="display: inline-block; margin-left: 80px;">
                        <p class="prod_name" style="max-height: 40px; min-height: 40px;">Nombre del producto</p>
                        <p class="prod_color">Blanco</p>
                        <p class="prod_precio" style="display: inline-block;">300$</p>
                        <img src="{% static 'images/icons/bluebox.png' %}" class="blubox">
                    </div>
                </div>
                <div class="col-sm-12 vendidos">
                    <div class="mini-vendido">
                        <img class="img-thumbnail" src="{% static 'images/productos.jpg' %}" width="65px" height="65px">
                    </div>
                    <div style="display: inline-block; margin-left: 80px;">
                        <p class="prod_name" style="max-height: 40px; min-height: 40px;">Nombre del producto</p>
                        <p class="prod_color">Blanco</p>
                        <p class="prod_precio" style="display: inline-block;">300$</p>
                        <img src="{% static 'images/icons/bluebox.png' %}" class="blubox">
                    </div>
                </div>
            </div>
        </div>
        <!-- Contenido -->
        <div class="col-md-9 col-sm-8">
            <!-- CONTENIDO CUADRILLA -->
            <div class="cuadricular">
                <div class="col-sm-4 col-xs-6 compra">
                    <!-- PARTE IMAGEN DEL ARTICULO -->
                    <div class="box-img text-center">
                        <img src="{% static 'images/producto2.jpg' %}" alt="producto" width="134px" height="134">
                    </div>
                    <!-- PARTE DE INFORMACION -->
                    <div class="box-articulo">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto</h4>
                        <p style="display: inline-block;">Precio : 300$</p>
                        <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 compra">
                    <!-- PARTE IMAGEN DEL ARTICULO -->
                    <div class="box-img text-center">
                        <img src="{% static 'images/producto3.jpg' %}" alt="producto" width="134px" height="134">
                    </div>
                    <!-- PARTE DE INFORMACION -->
                    <div class="box-articulo">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto</h4>
                        <p style="display: inline-block;">Precio : 300$</p>
                        <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 compra">
                    <!-- PARTE IMAGEN DEL ARTICULO -->
                    <div class="box-img text-center">
                        <img src="{% static 'images/producto2.jpg' %}" alt="producto" width="134px" height="134">
                    </div>
                    <!-- PARTE DE INFORMACION -->
                    <div class="box-articulo">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto</h4>
                        <p style="display: inline-block;">Precio : 300$</p>
                        <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                    </div>
                </div>

                <div class="col-sm-4 col-xs-6 compra">
                    <!-- PARTE IMAGEN DEL ARTICULO -->
                    <div class="box-img text-center">
                        <img src="{% static 'images/productos.jpg' %}" alt="producto" width="134px" height="134">
                    </div>
                    <!-- PARTE DE INFORMACION -->
                    <div class="box-articulo">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto</h4>
                        <p style="display: inline-block;">Precio : 300$</p>
                        <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 compra">
                    <!-- PARTE IMAGEN DEL ARTICULO -->
                    <div class="box-img text-center">
                        <img src="{% static 'images/producto5.png' %}" alt="producto" width="134px" height="134">
                    </div>
                    <!-- PARTE DE INFORMACION -->
                    <div class="box-articulo">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto</h4>
                        <p style="display: inline-block;">Precio : 300$</p>
                        <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 compra">
                    <!-- PARTE IMAGEN DEL ARTICULO -->
                    <div class="box-img text-center">
                        <img src="{% static 'images/producto2.jpg' %}" alt="producto" width="134px" height="134">
                    </div>
                    <!-- PARTE DE INFORMACION -->
                    <div class="box-articulo">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto</h4>
                        <p style="display: inline-block;">Precio : 300$</p>
                        <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                    </div>
                </div>
            </div>
            <!-- CONTENIDO HORIZONTAL -->
            <div class="horizontal" style="display: none;">
                <div class="col-sm-12 compra">
                    <div class="col-md-4 col-sm-6 thumbnail">
                        <img src="{% static 'images/a3.png' %}" alt="producto" width="240px" height="250px"  style="max-height: 250px; min-height: 240px;">
                    </div>
                    <div class="col-md-8 col-sm-6 thumbnail">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto <a href=""><img class="blubox" src="{% static 'images/icons/bluebox.png' %}" alt="bluebox"></a></h4>
                        <p style="max-height: 60px; min-height: 60px;" class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dicta earum exercitationem
                            explicabo id, impedit laboriosam magn!</p>
                        <p>Precio : 300$</p>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star yellow" style="margin-left: 10px;" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                        </div>
                        <hr style="background-color: #111633; height: 2px; margin: 5px 0 !important;">
                        <a style="color: #59bf8f; display: inline-block" href="#">categoria <a href="#"> sub categoria</a></a>
                    </div>
                </div>
                <div class="col-sm-12 compra">
                    <div class="col-md-4 col-sm-6 thumbnail">
                        <img src="{% static 'images/a2.png' %}" alt="producto" width="240px" height="250px">
                    </div>
                    <div class="col-md-8 col-sm-6 thumbnail">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto <a href=""><img class="blubox" src="{% static 'images/icons/bluebox.png' %}" alt="bluebox"></a></h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dicta earum exercitationem
                            explicabo id, impedit laboriosam magn!</p>
                        <p>Precio : 300$</p>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star yellow" style="margin-left: 10px;" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                        </div>
                        <hr style="background-color: #111633; height: 2px; margin: 5px 0 !important;">
                        <a style="color: #59bf8f; display: inline-block" href="#">categoria <a href="#"> sub categoria</a></a>
                    </div>
                </div>
                <div class="col-sm-12 compra">
                    <div class="col-md-4 col-sm-6 thumbnail">
                        <img src="{% static 'images/a1.png' %}" alt="producto" width="240px" height="250px">
                    </div>
                    <div class="col-md-8 col-sm-6 thumbnail">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto <a href=""><img class="blubox" src="{% static 'images/icons/bluebox.png' %}" alt="bluebox"></a></h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dicta earum exercitationem
                            explicabo id, impedit laboriosam magn!</p>
                        <p>Precio : 300$</p>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star yellow" style="margin-left: 10px;" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                        </div>
                        <hr style="background-color: #111633; height: 2px; margin: 5px 0 !important;">
                        <a style="color: #59bf8f; display: inline-block" href="#">categoria <a href="#"> sub categoria</a></a>
                    </div>
                </div>
                <div class="col-sm-12 compra">
                    <div class="col-md-4 col-sm-6 thumbnail">
                        <img src="{% static 'images/a3.png' %}" alt="producto" width="240px" height="250px">
                    </div>
                    <div class="col-md-8 col-sm-6 thumbnail">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto <a href=""><img class="blubox" src="{% static 'images/icons/bluebox.png' %}" alt="bluebox"></a></h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dicta earum exercitationem
                            explicabo id, impedit laboriosam magn!</p>
                        <p>Precio : 300$</p>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star yellow" style="margin-left: 10px;" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                        </div>
                        <hr style="background-color: #111633; height: 2px; margin: 5px 0 !important;">
                        <a style="color: #59bf8f; display: inline-block" href="#">categoria <a href="#"> sub categoria</a></a>
                    </div>
                </div>
                <div class="col-sm-12 compra">
                    <div class="col-md-4 col-sm-6 thumbnail">
                        <img src="{% static 'images/a2.png' %}" alt="producto" width="240px" height="250px">
                    </div>
                    <div class="col-md-8 col-sm-6 thumbnail">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto <a href=""><img class="blubox" src="{% static 'images/icons/bluebox.png' %}" alt="bluebox"></a></h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dicta earum exercitationem
                            explicabo id, impedit laboriosam magn!</p>
                        <p>Precio : 300$</p>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star yellow" style="margin-left: 10px;" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                        </div>
                        <hr style="background-color: #111633; height: 2px; margin: 5px 0 !important;">
                        <a style="color: #59bf8f; display: inline-block" href="#">categoria <a href="#"> sub categoria</a></a>
                    </div>
                </div>
                <div class="col-sm-12 compra">
                    <div class="col-md-4 col-sm-6 thumbnail">
                        <img src="{% static 'images/a1.png' %}" alt="producto" width="240px" height="250px">
                    </div>
                    <div class="col-md-8 col-sm-6 thumbnail">
                        <h4 style="max-height: 40px; min-height: 40px;">Nombre del producto <a href=""><img class="blubox" src="{% static 'images/icons/bluebox.png' %}" alt="bluebox"></a></h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dicta earum exercitationem
                            explicabo id, impedit laboriosam magn!</p>
                        <p>Precio : 300$</p>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star yellow" style="margin-left: 10px;" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star grey" aria-hidden="true"></span>
                        </div>
                        <hr style="background-color: #111633; height: 2px; margin: 5px 0 !important;">
                        <a style="color: #59bf8f; display: inline-block" href="#">categoria <a href="#"> sub categoria</a></a>
                    </div>
                </div>
            </div>
            <!-- Pie de pagina -->
            <nav aria-label="Page navigation" class="text-center col-sm-12">
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&lt;</span></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&gt;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Ultimos Publicados -->
{% include 'website/ultimos_publicados.html' %} 
{% endblock content %} 
{% block js %}<script type="text/javascript" src="{% static 'js/general.js' %}"></script>{% endblock js %}