{% extends 'website/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/noticias_style.css' %}">
<style>
    @media screen and (max-width: 768px){
        #nosotros-info{padding: 6% !important}
    }
</style>
{% endblock css %}

{% block content %}
    <div class="container-fluid" id="nosotros">
        <div class="row">
        <!-- Ubicacion de la pagina -->
        <div class="col-xs-12" style="margin-top: 20px">
            <a href="{% url 'index' %}" class="enlances_detalle">Home / </a>
            <p style="display: inline-block; font-family: inherit !important; color: #59bf8f !important">Nosotros</p>
        </div>
            <!-- CONTENIDO -->
            <div class="col-sm-6 text-center" id="nosotros-info" style="background-color: #111633; color: white; padding: 10%">
                <p>{{texto}}</p>
            </div>
            <div class="col-sm-6" id="tamaño" style="padding: 0; margin: 0;">
                <div class="col-sm-12" style="padding: 0; margin: 0;">
                    <img src="{{imagen}}" class="img-responsive" alt="nosotros" style="margin: 0 auto">
                </div>
                <div class="col-sm-12" style="padding: 0; margin: 0;">
                    <img src="{{imagen2}}" class="img-responsive" alt="nosotros" style="margin: 0 auto">
                </div>
            </div>
        </div>
    </div>
    <!-- Recibir Noticias -->
    {% include 'website/recibirnoticias.html' %}
{% endblock content %}

{% block js %} <script type="text/javascript" src="{% static 'js/general.js' %}"></script>{% endblock js %}