{% extends 'website/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/noticias_style.css' %}">
{% endblock css %}

{% block content %}
    <div class="container" id="noticias">
        <div class="row">
            <div class="col-xs-12" style="margin: 20px 0">
                <a href="{% url 'index' %}" class="home"> Home</a> <p style="display: inline; color: #111633">/ noticia</p>
            </div>
            <div class="col-xs-12" style="margin-bottom: 20px;">
                <!-- NOTICIA -->
                <div class="col-sm-9 col-xs-12">
                    <h2 style="text-transform: uppercase!important;">{{noticia.titulo}}</h2>
                    <!-- TITULO -->
                    <div class="imagen-noticia">
                        <img src="/media/{{noticia.imagen}}" alt="news" height="365px" width="825"></div>
                        <span>{{noticia.info_imagen}}</span>
                    <!-- NOTICIA -->
                    <div class="cuerpo-noticia" style="margin-top: 20px">
                        <p style="text-align: justify">{{noticia.contenido_sec1}}</p>
                    </div>
                    <div class="frase">
                        <span>{{noticia.contenido_resaltado}}</span>
                    </div>
                    <div class="fin-noticia">
                        <p style="text-align: justify">{{noticia.contenido_sec2}}</p>
                    </div>
                </div>

                <!-- barside/NOTICIAS -->
                <div class="col-sm-3 col-xs-12">
                    <!-- titulo de mini noticias -->
                    <h4 CLASS="text-center" style="margin-top: 63px;"><i>NOTICIAS DE INTERES</i></h4>
                    <!-- mini noticias -->
                    {% for x in interes %}
                    <div class="col-xs-12 min-noticia">
                        <div class="col-sm-3 border-radius mini-noticias" style="display: inline-block">
                            <img src="/media/{{x.imagen}}" width="50px" height="50" alt="...">
                        </div>
                        <div class="col-sm-9 caption" style="display: inline-block">
                            <h3><a href="{% url 'noticias' x.id_noticia %}#noticias">{{x.titulo|slice:"0:19"}}...</a></h3>
                            <p>{{x.contenido_sec1|slice:"0:60"}}...</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

{% endblock js %}