{% extends 'website/index.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/perfil_style.css' %}">
<style type="text/css">
    label {
        color: #000000 !important;
    }

    .modal-dialog>.modal-content {
        margin-top: 100px !important
    }
</style>
{% endblock css %} 
{% block content %}
<div class="container-fluid" id="perfil_">
    <!-- Ubicacion de la pagina -->
    <div class="col-xs-12" style="margin: 20px 0">
        <a href="{% url 'index' %}" class="enlances_detalle">Home / </a>
        <p style="display: inline-block; font-family: inherit !important; color: #59bf8f">Perfil</p>
    </div>
    <row>
        <!-- Barside de perfil -->
        <div class="col-md-3 col-sm-4 col-xs-12 text-center" style="background-color: #f2f1ef; padding-bottom: 20px;">
            <!-- IMAGEN DE USUARIO -->
            <form id="form" method="post" enctype="multipart/form-data">
                <img id="preview_image" width="220px" height="220px" src="/media/{{usuario.usuario.imagen}}" alt="" style="margin-top: 20px; border-radius: 5px; max-height: 220px; max-width: 220px;">
                <div class="text-center">
                    {{ foto.imagen }}
                    <a id="browse">Cambiar Imagen</a>
                </div>
                <button type="submit" style="display: none;" id="submitfoto" class="btn">Guardar</button>
                <a id="cancelar" style="display: none;">Cancelar</a>
            </form>
            <div class="botonesPerfil">
                <a onclick="MostrarFormPerfil()" class="btn btn-perfil">{% block section-perfil %} <strong><i>PERFIL DE USUARIO</i></strong> {% endblock section-perfil %}</a>
                <a href="" class="btn btn-perfil"><strong><i>COMPRAS REALIZADAS</i></strong></a>
                <a href="{% url 'compra' %}" class="btn btn-perfil"><strong><i>CAJA DE COMPRAS</i></strong></a>
                <a onclick="MostrarFormClave();" class="btn btn-perfil"><strong><i>CAMBIO DE CONTRASEÑA</i></strong></a>
            </div>
        </div>
        <!-- Contenido de PERFIL -->
        <div class="col-md-8 col-sm-7 col-xs-12" style="margin-top: 20px;">
            {% block perfil %}
            <!-- TABS -->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">PERFIL DE USUARIO</a></li>
                <!--<li><a data-toggle="tab" href="#menu1">INFORMACIÓN DE EMPRESA</a></li>-->
                <li><a data-toggle="tab" href="#menu2">DIRECCIONES</a></li>
            </ul>
            <!-- Contenido de los TABS -->
            <div class="tab-content">
                <!-- TAB PERFIL DE USUARIO -->
                <div id="home" class="tab-pane fade in active">
                    <div id="formperfil">
                        <form id="form" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" id="id" value="{{usuario.id}}">
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" class="form-control border-radius" readonly value="{{usuario.first_name}}">
                                <span style="display: none;" class="col-md-6" id="error_nombre">
                                        <h6 style="color: red">Debe ingresar el Nombre</h6>
                                    </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apellido">Apellido</label>
                                <input type="text" id="apellido" class="form-control border-radius" readonly value="{{usuario.last_name}}">
                                <span style="display: none;" class="col-md-6" id="error_apellido">
                                        <h6 style="color: red">Debe ingresar el Apellido</h6>
                                    </span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="email">Correo electronico</label>
                                <input type="email" id="email" class="form-control border-radius" readonly value="{{usuario.email}}">
                                <span style="display: none;" class="col-md-6" id="error_correo">
                                        <h6 style="color: red">Debe ingresar el Correo</h6>
                                    </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="telefono">Telefono</label>
                                <input type="text" id="telefono" class="form-control border-radius" readonly onkeypress="return soloNumeros(event);" value="{{usuario.usuario.telefono}}">
                                <span style="display: none;" class="col-md-6" id="error_telefono">
                                        <h6 style="color: red">Debe ingresar el Telefono</h6>
                                    </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fax">Fax</label>
                                <input type="text" id="fax" class="form-control border-radius" readonly onkeypress="return soloNumeros(event);" value="{{usuario.usuario.fax}}">
                                <span style="display: none;" class="col-md-6" id="error_fax">
                                        <h6 style="color: red">Debe ingresar el Fax</h6>
                                    </span>
                            </div>
                            <div class="text-center">
                                <a id="editar" class="btn btn-perfiles">Editar Perfil</a>
                                <button type="button" id=submitperfil class="btn btn-perfiles" style="display: none ">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- TAB INFORMACION DE EMPRESA -->
                <!--<div id="menu1" class="tab-pane fade">
                            <div class="form-group col-md-8">
                                    <label for="nombre_empresa">Nombre de empresa</label>
                                    <input type="text" id="nombre_empresa" class="form-control">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="numero_registro">N° de registro</label>
                                    <input type="text" id="numero_registro" class="form-control">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="tipo_rubro">Tipo de rubro</label>
                                    <select type="text" id="tipo_rubro" class="form-control">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                        </div>-->
                <!-- TAB DIRECCIONES -->
                <div id="menu2" class="tab-pane fade">
                    <!-- LISTADO DIRECCIONES DE FACTURACION -->
                    <div id="listafac">
                        <h3>Direcciones de Facturación</h3>
                        <ul>
                            {% for f in facturacion %}
                            <li>
                                <h5>{{f.calle}}, {{f.ciudad}}, {{f.estado}}, {{f.codigo_postale}}, {{f.pais}}</h5>
                                {%if f.telefono2 == "" %}
                                <h6>{{f.telefono}}</h6>
                                {% else %}
                                <h6>{{f.telefono}}/{{f.telefono2}}</h6>
                                {% endif %}
                                <a onclick="MostrarFormFac({{f.id_direccion}},'{{f.pais}}','{{f.estado}}','{{f.ciudad}}','{{f.calle}}','{{f.codigo_postal}}','{{f.telefono}}','{{f.telefono2}}');">Editar</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a onclick="MostrarFormFac(0,'','','','','','','');">Agregar Nueva</a>
                    </div>
                    <!-- LISTADO DIRECCIONES DE ENVIO -->
                    <div id="listaenv">
                        <h3>Direcciones de Envío</h3>
                        <ul>
                            {% for f in envio %}
                            <li>
                                <h5>{{f.callee}}, {{f.ciudade}}, {{f.estadoe}}, {{f.codigo_postale}}, {{f.paise}}</h5>
                                {%if f.telefonoe2 == "" %}
                                <h6>{{f.telefonoe}}</h6>
                                {% else %}
                                <h6>{{f.telefonoe}}/{{f.telefonoe2}}</h6>
                                {% endif %}
                                <a onclick="MostrarFormEnv({{f.id_direccion}},'{{f.paise}}','{{f.estadoe}}','{{f.ciudade}}','{{f.callee}}','{{f.codigo_postale}}','{{f.telefonoe}}','{{f.telefonoe2}}');">Editar</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a onclick="MostrarFormEnv(0,'','','','','','','');">Agregar Nueva</a>
                    </div>
                    <!-- FORMULARIO DIRECCIONES DE FACTURACION -->

                    <!-- FORMULARIO DIRECCIONES DE ENVIO -->
                </div>
            </div>
            {% endblock perfil %}
        </div>
    </row>

    <!-- MODAL CAMBIAR CONTRASEÑA -->
    <div id="formclave" class="modal fade" id="myModal" role="dialog" style="margin-top: 50px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cambiar Contraseña</h4>
                </div>
                <div class="modal-body">
                    <form id="form-clave" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" id="id" value="{{usuario.id}}">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nueva Clave</label>
                            <input type="password" id="password1" class="form-control border-input border-radius" placeholder="Ingrese la clave nueva">
                            <span style="display: none;" class="col-md-6" id="error_pass1">
                                        <h6 style="color: red">Debe ingresar una Contraseña</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Repita la Nueva Clave</label>
                            <input type="password" id="password2" class="form-control border-input border-radius" placeholder="Ingrese la clave nuevamente">
                            <span style="display: none;" class="col-md-6" id="error_pass2">
                                        <h6 style="color: red">Las contraseñas no son iguales</h6>
                                    </span>
                        </div>
                        <div class="text-center">
                            <button type="button" id=submitperfil class="btn btn-perfiles" onclick="EditarClave();">Cambiar Clave</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default border-radius" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL Direccion de FACTURA -->
    <div id="formfac" class="modal fade" id="myModal2" role="dialog" style="margin-top: 50px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dirección de Facturación</h4>
                </div>
                <div class="modal-body">
                    <form id="form-fac" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" id="id" value="{{usuario.id}}">
                        <input type="hidden" name="id_dir" id="id_dir" value="0">
                        <div class="form-group col-md-4">
                            <label for="pais_factura">Pais</label>
                            <input type="text" id="pais_factura" class="form-control border-radius">
                            <span style="display: none" id="error_paisf">
                                <h6 style="color: red">Debe ingresar un Pais</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estado_factura">Estado</label>
                            <input type="text" id="estado_factura" class="form-control border-radius">
                            <span style="display: none" id="error_estadof">
                                <h6 style="color: red">Debe ingresar un Estado</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ciudad_factura">Ciudad</label>
                            <input type="text" id="ciudad_factura" class="form-control border-radius">
                            <span style="display: none" id="error_ciudadf">
                                <h6 style="color: red">Debe ingresar una Ciudad</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="postal_factura">Codigo Posta</label>
                            <input type="text" id="postal_factura" class="form-control border-radius">
                            <span style="display: none" id="error_postalf">
                                <h6 style="color: red">Debe ingresar un Codigo Posta</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="calle_factura">Calle o avenida</label>
                            <input type="text" id="calle_factura" class="form-control border-radius">
                            <span style="display: none" id="error_callef">
                                <h6 style="color: red">Debe ingresar una Calle</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono_factura">Telefono</label>
                            <input type="text" id="telefono_factura" class="form-control border-radius">
                            <span style="display: none" id="error_telef">
                                <h6 style="color: red">Debe ingresar un Telefono</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono2_factura">Telefono 2</label>
                            <input type="text" id="telefono2_factura" class="form-control border-radius ">
                            <span style="display: none" id="error_telef2">
                                <h6 style="color: red">Debe ingresar un Telefono</h6>
                            </span>
                        </div>
                        <button type="button" class="btn btn-perfiles" onclick="EditarDirFac();">Guardar Cambios</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default  border-radius" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL Direccion de ENVIO -->
    <div id="formenv" class="modal fade" id="myModal3" role="dialog" style="margin-top: 50px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dirección de Envio</h4>
                </div>
                <div class="modal-body">
                    <form id="form-env" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" id="id" value="{{usuario.id}}">
                        <input type="hidden" name="id_dir" id="id_dir" value="0">
                        <div class="form-group col-md-4">
                            <label for="pais_envio">Pais</label>
                            <input type="text" id="pais_envio" class="form-control border-radius" value="{{u}}">
                            <span style="display: none" id="error_paise">
                                <h6 style="color: red">Debe ingresar un Pais</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estado_envio">Estado</label>
                            <input type="text" id="estado_envio" class="form-control border-radius">
                            <span style="display: none" id="error_estadoe">
                                <h6 style="color: red">Debe ingresar un Estado</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ciudad_envio">Ciudad</label>
                            <input type="text" id="ciudad_envio" class="form-control border-radius">
                            <span style="display: none" id="error_ciudade">
                                <h6 style="color: red">Debe ingresar una Ciudad</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="postal_envio">Codigo Posta</label>
                            <input type="text" id="postal_envio" class="form-control border-radius">
                            <span style="display: none" id="error_callee">
                                <h6 style="color: red">Debe ingresar una Calle</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="calle_envio">Calle o avenida</label>
                            <input type="text" id="calle_envio" class="form-control border-radius">
                            <span style="display: none" id="error_telee">
                                <h6 style="color: red">Debe ingresar un Telefono</h6>
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono_envio">Telefono</label>
                            <input type="text" id="telefono_envio" class="form-control border-radius">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono2_envio">Telefono 2</label>
                            <input type="text" id="telefono2_envio" class="form-control border-radius">
                            <span style="display: none" id="error_telee2">
                                <h6 style="color: red">Debe ingresar un Telefono</h6>
                            </span>
                        </div>
                        <button type="button" class="btn btn-perfiles" onclick="EditarDirEnv();">Guardar Cambios</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default border-radius" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %} 
{% block js %}<script type="text/javascript" src="{% static 'js/perfil.js' %}"></script>{% endblock js %}