{% extends 'website/index.html' %} 
{% load static %} 
{% block css %}<link rel="stylesheet" href="{% static 'css/proceso_compra_style.css' %}"> {% endblock css %}
{% block content %}
<div class="container">
    <!-- Ubicacion de la pagina -->
    <div class="col-xs-12" style="margin: 20px 0">
        <a href="{% url 'index' %}" class="enlances_detalle">Home / </a>
        <p style="display: inline-block; font-family: inherit !important; color: #59bf8f">Comprar</p>
    </div>
    <!-- CONTENIDO -->
    <form action="">
        <div class="registro">
            <!-- PRIMER PASO -->
            <div class="primero">
                <!-- TITULO PRIMER PASO -->
                <div class="titulo text-center">
                    <h1>PROCESO DE COMPRA</h1>
                    <h4>LISTADO DE PRODUCTOS</h4>
                </div>

                <!-- NUMEROS PRIMER PASO -->
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>1</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>2</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>3</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>4</h3>
                    </div>
                </div>

                <!-- TABLA -->
                <div class="table-responsive">
                    <table class="table table-hover" id="tabla">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Productos en tu caja</th>
                                <th class="text-center">Servicio</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--Imagen del producto-->
                                <th style="width:15%;">
                                    <img src="{% static 'images/a1.png' %}" width="50%" alt="" class="img-thumbnail" style="display: inline-block; padding: 0!important;">
                                </th>
                                <!--Nombre y detalle del producto-->
                                <th>
                                    <p style="color: #a0a0a0; font-family: 'subtitulos'!important;">Reloj Pebble time</p>
                                    <a style="color: #898989" href="{% url 'detalle' %}">Detalle del producto</a>
                                </th>
                                <!--Servicios-->
                                <th>
                                    <select class="form-control" style="border-radius: 0 !important ">
                                                <option>Aereo</option>
                                                <option>Maritimo</option>
                                                <option>Puerta</option>
                                            </select>
                                </th>
                                <!--cantidad del producto-->
                                <th class="text-center"><input type="number" min="0" class="cantidad"></th>
                                <!--total del producto-->
                                <th class="text-center">
                                    <p>$320.00</p>
                                </th>
                                <th><span class="glyphicon glyphicon-remove pull-right"></span></th>
                            </tr>
                            <tr>
                                <!--Imagen del producto-->
                                <th style="width:15%;">
                                    <img src="{% static 'images/a2.png' %}" width="50%" alt="" class="img-thumbnail" style="display: inline-block; padding: 0!important;">
                                </th>
                                <!--Nombre y detalle del producto-->
                                <th>
                                    <p style="color: #a0a0a0; font-family: 'subtitulos'!important;">Reloj Pebble time</p>
                                    <a style="color: #898989" href="{% url 'detalle' %}">Detalle del producto</a>
                                </th>
                                <!--Servicios-->
                                <th>
                                    <select class="form-control" style="border-radius: 0 !important ">
                                                <option>Aereo</option>
                                                <option>Maritimo</option>
                                                <option>Puerta</option>
                                            </select>
                                </th>
                                <!--cantidad del producto-->
                                <th class="text-center"><input type="number" min="0" class="cantidad"></th>
                                <!--total del producto-->
                                <th class="text-center">
                                    <p>$320.00</p>
                                </th>
                                <th><span class="glyphicon glyphicon-remove pull-right"></span></th>
                            </tr>
                            <tr>
                                <!--Imagen del producto-->
                                <th style="width:15%;">
                                    <img src="{% static 'images/a3.png' %}" width="50%" alt="" class="img-thumbnail" style="display: inline-block; padding: 0!important;">
                                </th>
                                <!--Nombre y detalle del producto-->
                                <th>
                                    <p style="color: #a0a0a0; font-family: 'subtitulos'!important;">Reloj Pebble time</p>
                                    <a style="color: #898989" href="{% url 'detalle' %}">Detalle del producto</a>
                                </th>
                                <!--Servicios-->
                                <th>
                                    <select class="form-control" style="border-radius: 0 !important ">
                                                <option>Aereo</option>
                                                <option>Maritimo</option>
                                                <option>Puerta</option>
                                            </select>
                                </th>
                                <!--cantidad del producto-->
                                <th class="text-center"><input type="number" min="0" class="cantidad"></th>
                                <!--total del producto-->
                                <th class="text-center">
                                    <p>$320.00</p>
                                </th>
                                <th><span class="glyphicon glyphicon-remove pull-right"></span></th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-xs-6 servicio">
                        <h4>Dirección de envio</h4>
                        <p>Liberty Express <br> Servicio de mensajería <br> Av. Neveri 0212-2020611 <br> Abierto hasta las 17:00</p>
                    </div>
                    <div class="col-xs-6">
                        <h2 class="pull-right" style="font-family: 'titulos' !important;">Total a pagar: <strong style="color: #59bf8f">$5,325.00</strong></h2>
                    </div>
                </div>
                <div class="botones">
                    <button class="btn btn-md boton" type="button">Volver a la Caja</button>
                    <button class="btn btn-md pull-right boton" id="siguiente" type="button">Siguiente</button>
                </div>
            </div>
            <div class="segundo" style="display: none">
                <div class="titulo text-center">
                    <h1>PROCESO DE COMPRA</h1>
                    <h4>METODO DE PAGO</h4>
                </div>
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>1</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>2</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>3</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>4</h3>
                    </div>
                </div>
                <div class="text-center">
                    <img src="{% static 'images/payp.jpg' %}" id="paypal" style="border: 1px solid #ddd">
                </div>
            </div>
            <div class="tercero" style="display: none">
                <div class="titulo text-center">
                    <h1>SHIPPING ADDRESS</h1>
                    <h4>CREA TU CUENTA PACKFORWARD</h4>
                </div>
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>1</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>2</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>3</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>4</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="pais_envio">Pais</label>
                            <input type="text" id="pais_envio" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estado_envio">Estado</label>
                            <input type="text" id="estado_envio" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ciudad_envio">Ciudad</label>
                            <input type="text" id="ciudad_envio" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="postal_envio">Codigo Posta</label>
                            <input type="text" id="postal_envio" class="form-control">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="calle_envio">Calle o avenida</label>
                            <input type="text" id="calle_envio" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono_envio">Telefono</label>
                            <input type="password" id="telefono_envio" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono2_envio">Telefono 2</label>
                            <input type="password" id="telefono2_envio" class="form-control">
                        </div>
                    </div>
                </div>
                <button class="btn btn-md pull-right" onclick="sig_ext()">Continuar</button>
            </div>
            <div class="cuarto" style="display: none">
                <div class="titulo text-center">
                    <h1>SHIPPING ADDRESS</h1>
                    <h4>CREA TU CUENTA PACKFORWARD</h4>
                </div>
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>1</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>2</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>3</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>4</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
                <button class="btn btn-md pull-right" onclick="sig_ext()">Continuar</button>
            </div>
            <div class="quinto" style="display: none">
                <div class="titulo text-center">
                    <h1>SHIPPING ADDRESS</h1>
                    <h4>CREA TU CUENTA PACKFORWARD</h4>
                </div>
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>1</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>2</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>3</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>4</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
                <button class="btn btn-md pull-right" onclick="sig_ext()">Continuar</button>
            </div>

        </div>
    </form>
</div>
{% endblock content %} 
{% block js %} <script type="text/javascript" src="{% static 'js/proceso_compra.js' %}"></script>{% endblock js %}