<style>
    .btn-comprar{
        background-color: #111633 !important;
        color: white !important;
    }
    .btn-comprar:hover{
        background-color: white !important;
        color: #111633 !important;
        border-color: #111633 !important;
    }
</style>
<div class="container-fluid" style="background-color: #59bf8f; margin: 10px 0">
    <div class="row text-center">
        <h3 style="color: white"><strong>Si desea recibir noticias o actualizaciones</strong></h3>
        <form class="form-inline">
            <input type="text" name="nombre" id="nombre" class="form-control border-radius" placeholder="Nombre" required>
            <input type="email" name="correo" id="correo" class="form-control border-radius" placeholder="Correo Electronico" required>
            <button id="submitsuscripcion" type="button" class="btn btn-comprar">Enviar</button>
        </form>
    </div>

</div>

{% block js %}
    <script type="text/javascript">
jQuery(document).ready(function ($) {
    $("#submitsuscripcion").click(function (){
        if(validarCampos()){
            $.ajax({
                url: '/suscripcion/',
                type: 'POST',
                data: {
                        nombre:$("#nombre").val(),
                        correo:$("#correo").val(),
                     },
                dataType: 'json',
                success: function(msj) {
                    alert(msj.mensaje)


                }
            });
        }
    });
});

function validarCampos(){
    return true;
}

</script>
{% endblock js %}