{% extends 'dashboard/ini_sesion.html' %}

{% block center %}

<h4 style="margin-bottom: 55px;">Su contraseña se reestableció correctamente</h4>
<a  class="button_2" href="/">Iniciar sesión</a>

{% endblock %}