{% extends 'website/index.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/registro_style.css' %}"> {% endblock css %} {% block content %}
<div class="container" id="registro">
    <!-- Ubicacion de la pagina -->
    <div class="col-xs-12" style="margin: 20px 0">
        <a href="{% url 'index' %}" class="enlances_detalle">Home / </a>
        <p style="display: inline-block; font-family: inherit !important; color: #59bf8f">Registro</p>
    </div>
    <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="registro">
            <!-- PRIMER PASO -->
            <div class="primero">
                <!-- TITULO  -->
                <div class="titulo text-center">
                    <h1>LOGIN INFORMATION</h1>
                    <h4>CREA TU CUENTA PACKFORWARD</h4>
                </div>
                <!-- NUMERO DE PASOS  -->
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>1</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>2</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>3</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>4</h3>
                    </div>
                </div>
                <!-- CONTENIDO  -->
                <div class="row">
                    <!-- DATOS DEL USUARIO -->
                    <div class="col-md-8 datos">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label> {{form.first_name}}
                            <span style="display: none;" class="col-md-6" id="error_nombre">
                                        <h6 style="color: red">Debe ingresar el Nombre</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellido">Apellido</label> {{form.last_name}}
                            <span style="display: none;" class="col-md-6" id="error_apellido">
                                        <h6 style="color: red">Debe ingresar el Apellido</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Correo electronico</label> {{form.email}}
                            <span style="display: none;" class="col-md-6" id="error_correo">
                                        <h6 style="color: red"Ingrese un correo electronico válido</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Nombre de Usuario</label> {{form.username}}
                            <span style="display: none;" class="col-md-6" id="error_usernam">
                                        <h6 style="color: red">Ingrese el nombre de usuario</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="clave">Contraseña</label> {{form.password1}}
                            <span style="display: none;" class="col-md-6" id="error_contras">
                                            <h6 style="color: red">Ingrese la contraseña en ambos campos</h6>
                                        </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="reclave">Confirmar contraseña</label> {{form.password2}}
                            <span style="display: none;" class="col-md-6" id="error_recontra">
                                            <h6 style="color: red">Las contraseñas no coinciden</h6>
                                        </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefono">Telefono</label> {{form2.telefono}}
                            <span style="display: none;" class="col-md-6" id="error_telefon">
                                            <h6 style="color: red">Ingrese un numero teléfonico</h6>
                                        </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fax">Fax</label> {{form2.fax}}
                            <span style="display: none;" class="col-md-6" id="error_fax">
                                            <h6 style="color: red">Ingrese el numero de fax</h6>
                                        </span>
                        </div>
                    </div>
                    <!-- FOTO DEL USUARIO -->
                    <div class="col-md-4 foto">
                        <img id="preview_image" src="{% static 'images/cargarfoto.png' %}" class="img-responsive" alt="" style="max-width: 345px; max-height: 291px; width: 345px; height: 291px">
                        <div class="text-center">
                            {{ form2.imagen }}
                            <span style="display: none;" id="error_imagen">
                                        <h6 style="color: red">Seleccione una imagen <br> para su perfil</h6>
                                    </span>
                            <a id="browse" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                        </div>

                    </div>
                    <!-- DATOS DE LA EMPRESA -->
                    <div class="col-md-3">
                        <p>¿Soy empresa?</p>
                        {{form2.empresa}}
                    </div>
                    <!-- BOTON CONTINUAR 1 -->
                    <div class="col-xs-12">
                        <button class="btn btn-md pull-right" type="button" id="continuar">Continuar</button>
                    </div>
                </div>
            </div>
            <!-- SEGUNDO PASO -->
            <div class="segundo" style="display: none">
                <!-- TITULO  -->
                <div class="titulo text-center">
                    <h1>DIRECCIÓN DE FACTURACIÓN</h1>
                    <h4>CREA TU CUENTA PACKFORWARD</h4>
                </div>
                <!-- NUMERO DE PASOS  -->
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>1</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>2</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>3</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>4</h3>
                    </div>
                </div>
                <!-- CONTENIDO  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="pais_factura">Pais</label> {{form3.pais}}
                            <span style="display: none;" class="col-md-6" id="error_pais">
                                        <h6 style="color: red">Debe ingresar el Pais</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estado_factura">Estado</label> {{form3.estado}}
                            <span style="display: none;" class="col-md-6" id="error_estado">
                                        <h6 style="color: red">Debe ingresar el Estado</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ciudad_factura">Ciudad</label> {{form3.ciudad}}
                            <span style="display: none;" class="col-md-6" id="error_ciudad">
                                        <h6 style="color: red">Debe ingresar la Ciudad</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="postal_factura">Codigo Posta</label> {{form3.codigo_postal}}
                            <span style="display: none;" class="col-md-6" id="error_postal">
                                        <h6 style="color: red">Debe ingresar el Codigo Postal</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="calle_factura">Calle o avenida</label> {{form3.calle}}
                            <span style="display: none;" class="col-md-6" id="error_calle">
                                        <h6 style="color: red">Debe ingresar la Calle</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono_factura">Telefono</label> {{form3.telefono}}
                            <span style="display: none;" class="col-md-6" id="error_telefact">
                                        <h6 style="color: red">Ingrese un numero teléfonico</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono2_factura">Telefono 2</label> {{form3.telefono2}}
                        </div>
                        <div class="col-md-12">
                            <label class="checkbox-inline">
                                        <input type="checkbox" value="si" id="envioSi">Usar la misma dirección para el envio!
                                    </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-md pull-right" type="button" id="continuar2">Continuar</button>
            </div>
            <!-- TERCER PASO -->
            <div class="tercero" style="display: none">
                <!-- TITULO  -->
                <div class="titulo text-center">
                    <h1>DIRECCIÓN DE ENVIO</h1>
                    <h4>CREA TU CUENTA PACKFORWARD</h4>
                </div>
                <!-- NUMERO DE PASOS  -->
                <div class="pasos text-center">
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>1</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>2</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center" style="background-color: #59bf8f; color: white;">
                        <h3>3</h3>
                    </div>
                    <div class="lineas">
                        <hr>
                    </div>
                    <div class="numeros text-center">
                        <h3>4</h3>
                    </div>
                </div>
                <!-- CONTENIDO  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="pais_factura">Pais</label> {{form4.paise}}
                            <span style="display: none;" class="col-md-6" id="error_paise">
                                        <h6 style="color: red">Debe ingresar el Pais</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estado_factura">Estado</label> {{form4.estadoe}}
                            <span style="display: none;" class="col-md-6" id="error_estadoe">
                                        <h6 style="color: red">Debe ingresar el Estado</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ciudad_factura">Ciudad</label> {{form4.ciudade}}
                            <span style="display: none;" class="col-md-6" id="error_ciudade">
                                        <h6 style="color: red">Debe ingresar la Ciudad</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="postal_factura">Codigo Posta</label> {{form4.codigo_postale}}
                            <span style="display: none;" class="col-md-6" id="error_postale">
                                        <h6 style="color: red">Debe ingresar el Codigo Postal</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="calle_factura">Calle o avenida</label> {{form4.callee}}
                            <span style="display: none;" class="col-md-6" id="error_calle3">
                                        <h6 style="color: red">Debe ingresar la Calle</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono_factura">Telefono</label> {{form4.telefonoe}}
                            <span style="display: none;" class="col-md-6" id="error_telenvio">
                                        <h6 style="color: red">Ingrese un numero teléfonico</h6>
                                    </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono2_factura">Telefono 2</label> {{form4.telefonoe2}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-md pull-right" id="continuar3">Continuar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %} 
{% block js %} <script type="text/javascript" src="{% static 'js/registro_web.js' %}"></script>{% endblock js %}