{% extends 'website/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/servicios_style.css' %}">
{% endblock css %}

{% block content %}
<div class="container" id="servicios">
    <div class="col-xs-12" style="margin: 20px 0">
        <a href="{% url 'index' %}" class="home"> Home</a> <p style="display: inline; color: #111633">/ {% block servicio %}{% endblock servicio %}</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 banner">
            {% block banner %}{% endblock banner %}
        </div>
        <div class="col-xs-12 servicio" style="margin-bottom: 30px;">
            <div class="col-sm-7 col-xs-12 parrafo">
                {% block parrafo %}{% endblock parrafo %}
            </div>
            <div class="col-sm-5 col-xs-12 imagen-servicio">
                {% block imagen-servicio %}{% endblock imagen-servicio %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}