{% extends 'website/index.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/servicios_style.css' %}">
<style>
    .serv-aereo {background-image: url("/static/images/servicios/aereo.jpg")}
    .serv-maritimo {background-image: url("/static/images/servicios/maritimo.jpg");}
    .serv-almacen {background-image: url("/static/images/servicios/almacen.jpg");}
    .serv-puerta-a-puerta {background-image: url("/static/images/servicios/puertas.jpg");}
</style>
{% endblock css %} 
{% block content %}
<div class="container" id="servicios">
    <!-- Ubicacion de la pagina -->
    <div class="col-xs-12" style="margin: 20px 0">
        <a href="{% url 'index' %}" class="enlances_detalle">Home / </a>
        <p style="display: inline-block;font-family: inherit !important;">Servicios</p>
    </div>
    <!-- SERVICIO AEREO -->
    <div class="col-xs-12 servicioss serv-aereo">
        <div id="serv-aereo" class="col-xs-6 col-xs-offset-6 pull-rigth contenido-derecho">
            <h1>CARGA AEREA</h1>
        </div>
        <div id="aereo-contenido" class="col-xs-6 col-xs-offset-6 pull-rigth contenido-derecho text-center">
            <img src="{% static '/images/aereo_estimador.png' %}">
            <br><br>
            <p>Packforward es tu fuente de servicios ideal en lo que a <br> carga aérea se refiere. Nos ajustamos a las necesi-
                <br> dades del cliente y ofrecemos tarifas competitivas para
                <br> hacer llegar la mercancía proveniente de EE.UU. hacia <br> tu destino</p>
        </div>
    </div>
    <!-- SERVICIO mar -->
    <div id="serv-maritimo" class="col-xs-12 servicioss serv-maritimo">
        <div id="serv-mar" class="col-xs-6 contenido-izq">
            <h1>CARGA MARITIMA</h1>
        </div>
        <div id="mar-contenido" class="col-xs-6 contenido-izq" style="display: none">
            <h1>HOLA DOS</h1>
        </div>
    </div>
    <!-- SERVICIO almacen -->
    <div id="serv-almacen" class="col-xs-12 servicioss serv-almacen">
        <div id="serv-almac" class="col-xs-6 col-xs-offset-6 pull-rigth contenido-derecho">
            <h1>CARGA ALMACEN <br> Y RE-EMPAQUE</h1>
        </div>
        <div id="almacen-contenido" class="col-xs-6 col-xs-offset-6 pull-rigth contenido-derecho" style="display: none">
            <h1>HOLAAAAAAAAA</h1>
        </div>
    </div>
    <!-- SERVICIO puerta -->
    <div id="serv-puerta-a-puerta" class="col-xs-12 servicioss serv-puerta-a-puerta">
        <div id="serv-puerta" class="col-xs-6 contenido-izq">
            <h1>PUERTA A PUERTA <br> (Solo a Venezuela)</h1>
        </div>
        <div id="puerta-contenido" class="col-xs-6 contenido-izq" style="display: none">
            <h1>PUERTA A PUERTA <br> (Solo a Venezuela)</h1>
        </div>
    </div>
</div>
{% endblock content %} 
{% block js %} <script type="text/javascript" src="{% static 'js/general.js' %}"></script>{% endblock js %}