<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
    <style>
        body{
            background: url("/static/images/fondo_login.jpg") no-repeat fixed;
            background-size: 100%;
        }
    </style>
    {% block ccs %} {% endblock ccs %}
</head>
<body>
        <div class="container">
        {% block center %}
            <div class="form-signin">
                <h5 class="alert alert-danger"  style="padding-top: 100px;padding-bottom: 100px; text-align: center;">El tiempo de activacion se ha vencido, debe realizar el registro nuevamente.</h5>
                <a href="/registro" class="btn btn-block">Registrarme</a>
            </div>
            
           {% endblock %}
        </div> <!-- /container -->

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    {% block js %} {% endblock js %}
</body>
</html>