{% load static %}
<div class="container-fluid container-publicados">
    <div class="text-center center-publicados" style="background-color: white">
        <h1 style="font-family: 'titulos'">ULTIMOS PUBLICADOS</h1>
    </div>
</div>
<div class="container" style="margin-bottom: 30px">
    <div class="slider1">
        <div class="slide">
            <!-- PARTE IMAGEN DEL ARTICULO -->
            <div class="box-img text-center">
                <img src="{% static 'images/productos.jpg' %}" alt="producto" width="134px" height="134">
            </div>
            <!-- PARTE DE INFORMACION -->
            <div class="box-articulo">
                <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                <p style="display: inline-block;"><strong>Precio: 300$</strong></p>
                <img src="{% static 'images/icons/greybox.png' %}"  alt="grey box" class="greybox">
            </div>
        </div>
        <div class="slide">
            <!-- PARTE IMAGEN DEL ARTICULO -->
            <div class="box-img text-center">
                <img src="{% static 'images/producto2.jpg' %}" alt="producto" width="134px" height="134">
            </div>
            <!-- PARTE DE INFORMACION -->
            <div class="box-articulo">
                <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                <p style="display: inline-block;"><strong>Precio: 300$</strong></p>
                <img src="{% static 'images/icons/greybox.png' %}"  alt="grey box" class="greybox">
            </div>
        </div>
        <div class="slide">
            <!-- PARTE IMAGEN DEL ARTICULO -->
            <div class="box-img text-center">
                <img src="{% static 'images/producto5.png' %}" alt="producto" width="134px" height="134">
            </div>
            <!-- PARTE DE INFORMACION -->
            <div class="box-articulo">
                <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                <p style="display: inline-block;"><strong>Precio: 300$</strong></p>
                <img src="{% static 'images/icons/greybox.png' %}"  alt="grey box" class="greybox">
            </div>
        </div>
        <div class="slide">
            <a href="{% url 'detalle' %}#detalle_producto">
                <!-- PARTE IMAGEN DEL ARTICULO -->
                <div class="box-img text-center">
                    <img src="{% static 'images/producto3.jpg' %}" alt="producto" width="134px" height="134">
                </div>
                <!-- PARTE DE INFORMACION -->
                <div class="box-articulo">
                    <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block;"><strong>Precio: 300$</strong></p>
                    <img src="{% static 'images/icons/greybox.png' %}"  alt="grey box" class="greybox">
                </div>
            </a>
        </div>
        <div class="slide">
            <!-- PARTE IMAGEN DEL ARTICULO -->
            <div class="box-img text-center">
                <img src="{% static 'images/iphone.png' %}" alt="producto" width="134" height="134">
            </div>
            <!-- PARTE DE INFORMACION -->
            <div class="box-articulo">
                <h4> style="max-height: 40px; min-height: 40px;"<strong>Nombre del producto</strong></h4>
                <p style="display: inline-block;"><strong>Precio: 300$</strong></p>
                <img src="{% static 'images/icons/greybox.png' %}"  alt="grey box" class="greybox">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-publicados">
    <div class="text-center center-publicados" style="background-color: white">
        <a href="{% url 'listado' %}" class="btn btn-lg btn-comprar">VER MAS</a>
    </div>
</div>