.menu_a {background-color: #59bf8f !important;}
.nombre{color: white}
li > a { color: #111633 !important;}
.sidebar{background-color: #59bf8f!important;}
.sidebar li > a{color: white !important;}
.sidebar li > a:hover {
    background-color: #29885c !important;
    color: white !important;
}
.sidebar ul.nav ul.children {background-color: #59bf8f !important; }
.sidebar ul.nav ul.children li a { background-color: #59bf8f !important; }
.sidebar ul.nav li.current a {  background-color: #59bf8f !important;  }
.sidebar ul.nav li.active a {  background-color: #59bf8f !important;  }
.sidebar ul.nav a:hover,
.sidebar ul.nav li.parent ul li a:hover {background-color: #29885c !important;}
.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus  {
	color: #fff;
	background-color: #29885c !important;
}
.dropdown-menu{
    position: relative !important;
    float: none !important;
    background-color: transparent !important;
}
.menu-b{
    position: absolute !important;
    float: none !important;
    background-color: white !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background-color: #29885c !important; }
/*INI SESION CSS*/
.form-signin {
    max-width: 370px;
    padding: 20px;
    float: right;
    margin: 13% 120px 0 0;
    background-color: white;
}
.form-signin .form-signin-heading,.form-signin .checkbox { margin-bottom: 10px; }
.form-signin .checkbox { font-weight: normal; }
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 0;
}
.form-signin .form-control:focus {  z-index: 2; }
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
button .btn{border-radius: 20px !important}
.btn{
    background-color: #111633;
    border: 1px solid white;
    color: white;
    border-radius: 20px!important;
}
.btn:hover, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    background-color: white !important;
    border: 1px solid #111633;
    color: #111633 !important;
    border-radius: 20px !important;
}
button:focus {outline:0 !important;}
#inputUser {
    background-image: url(/static/images/log.png);
    background-position: 7px;
    background-repeat: no-repeat;
    background-size: 22px;
}
#inputPassword {
    background-image: url(/static/images/key.png);
    background-position: 7px;
    background-repeat: no-repeat;
    background-size: 19px;
}
.whitecanvas{
    padding: 10px !important;
    background-color: white !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    /*width: auto !important;*/
}
a .ti-eraser, a .ti-pencil, a .ti-eye{
    color: #111633!important;
    cursor: pointer;
}
@media screen and (max-width: 420px) {
    .form-signin {
        margin: 10% 0!important;
    }
    .navbar-header .navbar-brand{width: 40% !important;}
    .navbar-brand img { width: 100% !important;}
}