.cont-img{
    border: 2px solid #d9d9d9;
    width: 85px;
    height: 85px;
    margin: 10px 0;
}
.yellow{color: #f2d972 !important;}
.grey{color: #cfcfcf !important;}
.btn-default{
    width: 100px !important;
    border-radius: 50px !important;
    /* border: 2px solid transparent; */
}
.btn-default:hover{
    color: white !important;
    background-color: #646464 !important;
}
.btn-agregar, .btn-comprar{
    border-radius: 0 !important;
    background-color: white !important;
}
.btn-agregar{
    border: 2px solid #59bf8f !important;
    color: #59bf8f !important;
}
.btn-agregar:link{color: #59bf8f !important;}
.btn-agregar:hover{
    background-color: #59bf8f !important;
    color: white !important;
}
.btn-agregar img{
    width: 18% !important;
    margin: 0px 6px 0px -9px !important;
}
.btn-agregar:hover img{ content: url("/static/images/icons/whtbox2.png");}
.btn-comprar{
    border: 2px solid #111633 !important;
    color: #111633 !important;}
.btn-comprar:link{color: #111633 !important;}
.btn-comprar:hover{
    background-color: #111633 !important;
    color: white !important;}
.detalles, .pago, .envio{
    padding: 5px 20px;
    margin: 10px 0;
    height: 250px;
}
/*CONTENIDO DE DETALLE*/
.detalles label{color: #59bf8f !important;}
.detalles{padding: 40px 20px !important;}
#detalles_producto .form-group > .form-control{
    width: 100px !important;
    border-radius: 50px !important;
}
/*CONTENDIO DE PAGO*/
.metodos_pago {
    border: 2px solid #9d9d9d;
    border-radius: 5px;
    padding: 5px 10px;
}
.imagenes_producto .col-xs-12{padding: 0 !important;}
/*CONTENDIO DE ENVIO*/
.checkbox-inline, .radio-inline{
    font-size: 20px!important;
    color: #111633 !important;
}
.estimador > .form-group > .form-control{
    width: 100px !important;
    border-radius: 0px !important;
}
.estimador{margin: 14px 0;}
.estimador label{color:#afafaf !important;}
.monto label {color:#59bf8f !important;}
@media screen and (max-width: 420px){
    .btn-default{width: 80px !important;}
    .detalles{
        height: 300px!important;
        padding: 20px !important;
    }
    .detalles p{font-size: 12px !important; }
    #fom1, #fom2, #fom3{
        display: block !important;
        float: none !important;
    }
    #talla, #cantidad{ margin: 0 auto !important;  }
    .pago{padding: 50px 20px !important; height:300px !important;}
    #paypal{margin-left: 0!important;}
    .envio{
        padding: 20px 20px !important;
        height: 300px !important;
    }
    .btn-comprar, .btn-agregar{font-size: 10px !important;}
    .imagenes_producto col-xs-3 > img{width: 100%!important;}
    .imagene_producto img{width: 100%!important;}
    .cont-img{
        margin: 5px 0 !important;
        min-height: 1px !important;
    }
    .col-xs-12{float: none!important;}
    .botones{padding: 0!important;}
}