/*FONTS*/
@font-face {
  font-family: titulos;
  src: url('../fonts/MyriadPro-BoldIt.otf') format("truetype");
}
@font-face {
  font-family: subtitulos;
  src: url('../fonts/HelveticaNeueLTStd-ThIt.otf') format("truetype");
}
p, h2, h3{font-family: 'subtitulos' !important;}
.titulo > h1{font-family: 'titulos' !important; }
#iniciar, #iniciar_dos, #iniciar_movil,
#registrar, #registrar_dos, #registrar_movil{font-family: 'titulos' !important; }
a{text-decoration: none !important}
/*NAVBAR*/
#navbar_movil, #navbar_secundario, #navbar_principal{
    z-index:1000000;}
li > a{
    background: #ffffff;
    font-size: 11px !important;
}
.navbar-nav > li > a{color: #111633 !important;}
li:active > a{background: #fdc300}
.navbar > .container .navbar-brand{
    margin-left: -67px;
    padding: 10px 5px 0 25px;
}
.navbar-form {padding: 0 !important;}
.notifiacion{
    border-radius:50%;
    background-color: #59bf8f;
    height: 20px;
    width: 20px;
    display: inline-block;
    /*margin: 10px 20px 0 0;*/
    color: white;
    font-size: 8px;
    position: absolute;
    /*margin-top: -10px;*/
    margin-left: 3px;
    line-height: 20px;
}
.usuario_logeado{margin: 11px auto;}
.bluebox{
    width: 30% !important;
    margin: 0 !important;
}
.navbar-toggle {
    border-color: white !important;
    display: block !important;
    margin-left: 10px!important;
}
.navbar-toggle .icon-bar { background-color: white !important; }
.icon-bar{ background-color: #111633 !important;}
/*BUSCADOR*/
button:focus {outline:0 !important;}
.btn-agregar, .btn-comprar{
    border-radius: 0 !important;
    background-color: white !important;
}
.btn-agregar{
    border: 2px solid #59bf8f !important;
    color: #59bf8f !important;
}
.btn-agregar:link{color: #59bf8f !important;}
.btn-agregar:hover{
    background-color: #59bf8f !important;
    color: white !important;
}
.btn-comprar{
    border: 2px solid #111633 !important;
    color: #111633 !important;}
.btn-comprar:link{color: #111633 !important;}
.btn-comprar:hover{
    background-color: #111633 !important;
    color: white !important;
}
.enlances_detalle:hover, .enlances_detalle:visited, .enlances_detalle:link, .enlances_detalle:active{
    color: #a7a7a7 !important;
    text-decoration: none;
}
/*LOGIN*/
.login{
    margin:50px 0 0 auto;
    z-index: 1;
    width: 250px;
    height: 300px;
    position: fixed;
    background-color: white;
    right: 0;
    margin: 50px;
    padding: 20px;
    text-align: center;
}
.login-color{color: #333649}
.input-login{padding: 6px;}
#inputUser {
    background-image: url(/static/images/log.png);
    background-position: 7px;
    background-repeat: no-repeat;
    background-size: 19px;
}
#inputPassword {
    background-image: url(/static/images/key.png);
    background-position: 7px;
    background-repeat: no-repeat;
    background-size: 19px;
}
.previa{
    position: fixed;
    top: 50px;
    width: 365px;
    background-color: white;
    margin: 0 auto;
    height: 280px;
    padding: 10px 0;
    right: 115px;
}
.contenedor-user{
    position: fixed;
    top: 50px;
    width: 200px;
    background-color: white;
    margin: 0 auto;
    height: 200px;
    padding: 10px;
}
.btn-usuario{
    display: block;
    margin: 8px auto;
    border-radius: 20px!important;
    border-color: #111633;
    background-color: white;
    color: #111633;
    width: 120px;
    font-size: 12px;
}
.btn-usuario:hover{
    display: block;
    margin: 0 auto;
    border-radius: 20px!important;
    border-color: #111633;
    background-color: #111633;
    color: white;
    width: 120px;
    font-size: 12px;
}
#iniciar-btn, #calc_aereo:hover, #calc_mar:hover{
    background-color: #111633;
    color: white;
    padding:5px 20px;
    border-radius: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
#calc_mar:hover{background-color: #59bf8f !important;}
#iniciar-btn:hover, #calc_aereo, #calc_mar{
    background-color: white;
    border: 1px solid #111633;
    padding:5px 20px;
    color: #111633;
    border-radius: 0;
    border-color: white;
}
#iniciar-btn:hover{border-color: #111633!important;}
#iniciar-btn{
    background-color: #111633;
    color: white;
    padding:5px 20px;
}
.inicio-sesion,
.inicio-sesion > li,
.inicio-sesion > li > a
{
    background-color: #111633 !important;
    color: white !important;
}
/*MAIN IMAGE*/
.main-thing{
    z-index: 0;
    margin-top: 50px;
}
#video-main,#video-estimador{
    z-index: 5000 !important;
    display: inline-block;
    position: absolute;
}
#video-main{
    top: 80px;
    left: 190px;
}
#video-estimador{
    top: 65px;
    left: 150px;
}
#video-estimador{left: 65px !important;}
.main-img{width: 100%;}
.video-banner,.icono-estimador, #logistica{
    position: absolute !important;
    z-index: 1000;
    color: white;
}
.video-banner{
    top: 174px;
    left: 590px;
    cursor: pointer;
}
.icono-estimador{
    top: 145px;
    left: 252px;
    cursor: pointer;
    width: 60px !important;
}
#logistica{
    top: 150px;
    right: 140px;
    text-shadow: 2px 2px #393021;
    font-size: 50px !important;
    font-family: titulos;
}
/*SERVICIOS*/
.servicios{
    height: 190px;
    color: white;
    text-align: center;
    padding: 12px;
}
.serv_aereo, .serv_almac, .serv_pta{margin: 12px 0;}
.serv_marit{margin: 12px 0;}
.enlace_servicio:hover, .enlace_servicio:visited, .enlace_servicio:link, .enlace_servicio:active{
    color: white !important;
    text-decoration: none;
    font-family: 'titulos' !important;
    font-size: 20px;
}
.banner{margin-top: 45px;}
.enlace_servicio p, .enlace_servicio p, .enlace_servicio p, .enlace_servicio p{ font-family: 'titulos' !important; }
/*CATEGORIAS*/
.compra{
    margin: 20px 0;
    cursor: pointer;
}
compra > a{text-decoration: none; text-underline: none; }
compra > a > h4, p{text-decoration: none; text-underline: none; }
.box-cat{
    border: 1px solid #cfcfcf;
    margin-bottom: 5px;
    border-radius: 0px;
    width: 230px;
    margin: 7px;
    font-weight: bold;
}
.btn-default:hover{
    background-color: #59bf8f !important;
    color: white !important;
    border: 1px solid #59bf8f !important;
    border-radius: 0px;
}
.btn-default:hover img{  }
.box-cat img{
    width: 35px;
    height: 35px;
    display: inline-block;
    float: left;
    margin-left: 12px;
}
#categ_comestible:hover img{ content: url("/static/images/icons/comestiblesB.png");}
#categ_limpieza:hover img{ content: url("/static/images/icons/limpiezaB.png");}
#categ_cuidado:hover img{ content: url("/static/images/icons/cuidado_persB.png");}
#categ_industrial:hover img{ content: url("/static/images/icons/industrialB.png");}
#categ_electro:hover img{ content: url("/static/images/icons//electronicosB.png");}
#categ_ropa:hover img{ content: url("/static/images/icons//ropaB.png");}
#categ_cocina:hover img{ content: url("/static/images/icons/cocinaB.png");}
#categ_veh:hover img{ content: url("/static/images/icons/automotricesB.png");}
.categ{
    display: inline-block;
    line-height: 3em;
    margin: -5px;
}
.box-articulo{
    padding: 10px;
    margin-top: 5px;}
.box-articulo h4{color: #59bf8f}
.box-articulo:hover, .box-articulo:hover h4{
    background-color: #111633;
    color: white !important;
}
.box-articulo:hover img{ content: url("/static/images/icons/whtbox.png"); }
.greybox{
    display: inline-block;
    width: 12%;
    float: right;
    margin-right: 20px;
}
/*ESTIMADOR*/
.border-radius{
    border-radius: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
#aereo {background-color: #59bf8f;}
#maritimo {background-color: #111633;}
label{ color: #ffffff !important;}
#tab_aereo a{  background-color: #59bf8f!important;  }
#tab_mar a{  background-color: #111633!important;  }
#tab_aereo:focus a{ background-color: #59bf8f;  }
/*
#tab_aereo img{ content: url("/static/images/aereo_estimador.png"); }
#tab_aereo:focus img{ content: url("/static/images/aereo_estimador_blnc.png"); }

.tab_mar .nav-tabs.nav-justified > .active > a,
.tab_mar .nav-tabs.nav-justified > .active > a:hover,
.tab_mar .nav-tabs.nav-justified > .active > a:focus {
    background-color: #111633 !important;
}
#tab_mar a{  background-color: white !important;  }*/
#verfunciona{
    background-color: #9d9d9d;
    color:#ffffff;
    padding: 2px 0;
    margin: 0px -15px;
}
/*NOTICIAS*/
#logo-noticias{
    float: right;
    display: inline-block;
    width: 180px;
}
/*CONTACTANOS*/
.cont-telefonos{
    margin: 24px 0;
}
.cont-telefonos p{font-size: 20px!important;}
/*TESTIMONIALES*/
.bxslider, .bx-wrapper{
    background-color: transparent !important;
    border: transparent !important;
}
.bxslider > li {
    margin: 0 auto;
    padding: 0 180px;
}
.bx-wrapper img {
    /*width: 8% !important;*/
    margin: 0 auto !important;
    display: inline-block;
}
.testimonios{
    margin-left: 100px;
    margin-top: -35px;
}
/*FOOTER*/
.pie_index{list-style: none}
.pie_index a{
    background-color: #111633;
    color: white;
    font-size: 17px;
}
.logo-footer, .redes-footer{display: inline-block;}
.redes-footer ul li{list-style: none;}
.redes-footer li{width: 40px !important;}
.redes-footer li a {background-color: #111633 !important}
.redes-footer a img {width: 80%;}
.form-control[disabled], fieldset[disabled] .form-control{background-color: white!important;}
@media screen and (min-width: 1199px){
    /*.navbar-right{margin-right: -130px !important;}*/
}

/* IPAD PRO */
@media screen and (max-width: 1136px){
    #logistica{
        top: 73px;
        right: 45px;
    }
    #cabecera{margin-left: -50px !important;}
    .navbar-right{margin-right: -100px !important;}
    .fondo-contactos{width: 1100px !important;}
    #map{width: 540px!important;}
}
@media screen and (max-width: 1024px){
    #logistica{
        top: 73px;
        right: 45px;
    }
    #navbar_principal{display: none !important;}
    #navbar_secundario{display: block !important;}
    .video-banner {
        top: 132px;
        left: 500px;
    }
    .fondo-contactos{ width: 670px !important;}
    #map{width: 478px!important;}
    .row-categorias{margin: 0 -2%!important;}
    #menu_nav { margin-right: 100px !important;}
    .navbar-toggle .icon-bar { background-color: white !important; }
}
@media screen and (max-width: 992px) {
    .serv_aereo, .serv_marit, .serv_almac, .serv_pta{ margin: 0 !important;}
    /*.box-img>img{width: 15% !important;}*/
    /*.bx-wrapper img { width: 10% !important; }*/
    .testimonios{
        margin-left: 60px !important;
        margin-top: -25px !important;
    }
    #map{width:460px !important;}
}
/* IPADS */
@media (max-width: 768px){
    #menu_nav {
        display: block;
        border-color: white !important;
    }
    .icon-bar{ background-color: white !important;}
    #logistica{ font-size: 35px !important;}
    .video-banner {
        top: 96px;
        left: 349px;
    }
    .fondo-contactos{ width: 485px !important;}
    .inicio-sesion,
    .inicio-sesion > li,
    .inicio-sesion > li > a
    {
        background-color: #111633 !important;
        color: white !important;
        display: inline-block;
    }
@media screen and (max-width: 770px) {
    /*#navbar_movil{display: block !important;}
    #menu_movil{display: inline-block !important;}*/
    #navbar_principal{display: none !important;}
    #navbar_secundario{display: inline-block !important;}
    .navbar-form .form-control{ margin-left: 20px !important;}
    .navbar > .container .navbar-brand{
        padding: 10px 0 0 5px !important;
        margin-left: 0 !important;
    }
    .servicios{height: 160px !important;}
    .serv_aereo img, .serv_marit img, .serv_almac img, .serv_pta img{width: 50% !important;}
    .testimonios{
        margin-left: 62px !important;
        margin-top: -20px !important;
    }
    .caja{width: 50px!important;}
    .bluebox{width: 60% !important;}
     .row-categorias{margin: 0 15%!important;}
    #map{ width: 360px !important;}
    #montacarga{position: relative!important;}
}
@media screen and (max-width: 650px) {
    .bx-wrapper img {
        /*width: 50% !important;*/
        margin: 0 auto !important;
    }
    .map{width: 600px !important;}
}

/* IPHONE 6S & OTHER BIG PHONES*/
@media screen and (max-width: 420px) {
    /*NAVBAR*/
    #navbar_movil{display: block !important;}
    #navbar_principal, #navbar_secundario{display: none !important;}
    .navbar-form .form-control{ margin-left: 0 !important;}
    #barra_movil{margin-left: 100px!important;}
    .navbar > .container .navbar-brand{ padding: 17px 5px 0 12px !important; }
    #nombre_user{display: none!important;}
    .navbar-form{ margin: 0 10% !important; }
    .container > .navbar-header, .container-fluid > .navbar-header,
    .container > .navbar-collapse, .container-fluid > .navbar-collapse {margin-left: 0 !important;}
    a > .navbar-brand{margin-left: 0!important;}
    .bluebox{  width: 60% !important; } /*bluebox navbar*/
    .notifiacion{
        float: right !important;
        /*margin-top: -52px;*/
        /*margin-right: -55px;*/
    }
    .caja{
        margin-top: 0 !important;
        /*float: right !important;*/
    }
    /*.navbar > .container .navbar-brand{
        padding:0 !important;
        margin-left: 0px !important;
    }*/
    /*BANNER*/
    #logistica {
        font-size: 19px !important;
        top: 95px;
    }
    .video-banner {
        top: 122px;
        left: 170px;
        width: 35px !important;
    }
    .icono-estimador {
        top: 127px;
        left: 102px;
    }
    #video-main, #video-estimador {
        top: 95px !important;
        left: 15px !important;
        width: 360px !important;
    }
    #logo-noticias{display: none !important;}
    .titulo-noticias{margin-left: 0 !important;}
    .fondo-contactos{display: none !important;}
    #formulario-contactanos{background-color: #111633!important;}
    .cont-telefonos{ float: left!important;}
    /*SERVICIOS*/
    .serv_aereo, .serv_marit, .serv_almac, .serv_pta{ margin: 0 !important;}
    .serv_aereo img, .serv_marit img, .serv_almac img, .serv_pta img{width: 100% !important;}
    #serv_aereo, #serv_maritimo, #serv_almacenar, #serv_puerta{ padding: 30px; }
    .tipo-serv p {display: none !important;}
    .servicios{height: auto !important;}
    .login{ margin: 106px 0 0 0 !important;}
    .bx-wrapper img {
        /*width: 20% !important;*/
        margin: 0 auto !important;
    }
    .row-categorias{margin: 0 19%!important;}
    #testimoniales{ height: 465px !important;}
    .bx-wrapper{height: 300px !important;}
    .bxslider li{
        padding: 2% 54px !important;
        margin-top: -125px;
    }
    .testimonial-text p { font-size: 12px !important;}
    .testimonios{
        margin-left: -7px !important;
        margin-top: -6px !important;
    }
    #bluebox{
        margin-top: -40px !important;
        margin-right: 82px !important;
        float: right !important;
        width: 22% !important;

    }
    .main-img{margin-top: 44px !important;}
    #map{width: 300px !important;}
    .categ{font-size: 10px !important;}
    .montacargas > img {margin-left: 73px!important;}
    #calc_aereo, #calc_mar{display: inline-block !important;}
    /*.form-control[disabled], fieldset[disabled] .form-control{width: 147px !important;}*/
    .pie_index a{ font-size: 17px !important;}
    .no-padding{padding: 0 !important;}
    .navbar-toggle { border-color: #111633 !important; }
    .navbar-toggle .icon-bar { background-color: #111633 !important; }
}

/* IPHONE
@media screen and (min-width: 375px) {
    .video-banner {left: 141px !important;}
}
@media screen and (min-width: 360px) {
    .video-banner {left: 130px !important;}
}6*/
/* IPHONE 5*/
@media screen and (max-width: 320px) {
    /*NAVBAR*/
    #barra_movil{margin-left: 45px!important;}
    #logo-noticias{
        display: none;
    }
    .titulo-noticias{margin-left: 0 !important;}
    #logistica {font-size: 12px !important;}
    .video-banner {
        top: 116px;
        left: 135px;
        width: 29px !important;
    }
    .icono-estimador {
        left: 69px !important;
        width: 41px;
    }
    #video-main, #video-estimador {
        top: 95px !important;
        left: 15px !important;
        width: 287px !important;
    }
    .row-categorias{margin: 0 9%!important;}
}
