#icon_cuadros, #icon_hrz{
    border-radius: 0;
    color: #111633;
    padding: 10px;
    border: 1px solid  #111633;
}
a {text-decoration: none!important;}
.pagination li > a {font-family: 'titulos' !important }
/**PPRODUCTOS**/
.compra{margin: 20px 0;}
.box-cat{
    border: 1px solid #cfcfcf;
    margin-bottom: 5px;
    border-radius: 5px;
}
.btn-default:hover{
    background-color: white !important;
    color: #59bf8f !important;
    border: 1px solid #59bf8f !important;
}
.btn-default:hover img{  }
.box-cat img{
    width: 35px;
    height: 35px;
    display: inline-block;
}
.categ{display: inline-block;}
.box-articulo{
    padding: 10px;
    margin-top: 5px;}
.box-articulo h4{color: #59bf8f}
.box-articulo:hover, .box-articulo:hover h4{
    background-color: #111633;
    color: white !important;
}
.box-articulo:hover img{ content: url("/static/images/icons/whtbox.png"); }
.greybox{
    display: inline-block;
    width: 12%;
    margin-right: 20px;
}
/**MAS VENDIDOS**/
.vendidos{
    margin: 10px 0!important;
    padding: 12px!important;
    height: 100px !important;
    background-color: white;
}
.vendidos:hover{border: 1px solid #000000;}
.mini-vendido{
    display: inline-block;
    margin-right: 10px;
    position: absolute;
}
.img-thumbnail{
    border-radius: 0 !important;
    padding: 0 !important;
}
.blubox{
    width: 30px !important;
    float: right;
}
.prod_precio, .prod_color, .prod_name{ margin-bottom: 0!important;}
.masvendido{background-color: #fbfbfb;}
li{list-style: none !important;}
li:active > a { background: #fbfbfb !important;}
a {color: #111633 !important;}
.dm{
    position: relative !important;
    float: none !important;
    background-color: transparent !important;
}
.thumbnail{
    /*height: 250px !important;*/
    padding: 15px !important;
}
/**BARRA**/
.categoria-side{
    border-bottom: 1px solid #dde4ee;
    padding: 7px;
}
.input-side{
    border-radius: 20px;
    display: inline-block !important;
    max-width: 62px;
    min-width: 62px;
    color: #111633;
}
.menu_a {
    background-color: #fbfbfb!important;
    font-size: 14px !important;
}
.menu-b{
    border: none !important;
    border-radius: 0;
    box-shadow: none;
    position: relative !important;
    float: none !important;
    background-color: transparent !important;
}
.subCateg{
    background-color: #fbfbfb !important;
    font-size: 14px !important;
    border-bottom: 1px solid #dde4ee;
    padding: 5px !important;
}
.categoria-side:hover{
    background-color: #111633 !important;
    color: white !important;
}
.categoria-side:hover>a{
    background-color: #111633 !important;
    color: white !important;
}
.menu-b li > a:hover {
    background-color: #111633 !important;
    color: white !important;
}
@media screen and (max-width: 768px) {
    .box{width: 80px!important;}
    .box img {width: 15px!important;}
    .box p {font-size: 8px!important;}  
    .input-side{max-width: 45px !important; min-width: 45px !important;}
    /*.thumbnail{height: 300px !important;}*/
}
@media screen and (min-width: 768px) {
    .box{width: 80px!important;}
    .box img {width: 15px!important;}
    .box p {font-size: 8px!important;}
    /*.thumbnail{height: 300px !important;}*/
}
@media screen and (max-width: 420px) {
    .descripcion{font-size: 10px!important;}
    .masvendido{display: none}
    .icons{
        float: none !important;
        text-align: center;
    }
}