.home:hover, .home:visited, .home:link, .home:active{
    color: #a7a7a7 !important;
    text-decoration: none;
}
.caption p, .caption h3{font-size: 10px!important;}
.caption h3{margin: 0!important;}
.cuerpo-noticia{margin-bottom: 40px;}
.frase {
    background-color: #d7d7d7;
    color: gray;
    padding: 30px;
    margin: 30px;
}
.fin-noticia{margin-top: 40px;}
.min-noticia{
    margin: 10px auto   !important;
    padding: 0!important;
}
@media screen and(min-width: 420px) {
    .mini-noticias {text-align: center}
    .mini-noticias {
        height: 100px !important;
        width: 100px !important;
        margin: 0 !important;
    }
}
@media screen and(min-width: 320px) {
    .mini-noticias {text-align: center}
    .mini-noticias {
        height: 100px !important;
        width: 100px !important;
        margin: 0 !important;
    }
}