.a,.a:active, a:link,a:visited { color: #111633 !important; }
.botonesPerfil{
    border-radius:5px; 
    background-color: #fff;
    margin: 0 auto;
    width: 220px; 
}
.btn-perfil{
    /*border-radius: 5 !important;*/
    background-color: white !important;
    /*width: 210px;*/
    font-size: 12px;
    /*margin: 6px 0;
    border: 2px solid #111633 !important;*/
    color: #111633 !important;
    width: 220px;
    text-align: left;
}
.btn-perfiles{
    border-radius: 0 !important;
    background-color: white !important;
    font-size: 12px;
    margin: 6px 0;
    border: 2px solid #111633 !important;
    color: #111633 !important;
}
.btn-perfiles:link{color: #111633 !important;}
.btn-perfiles:hover, .btn-perfil:hover{
    background-color: #111633 !important;
    color: white !important;
    }