p{font-family: sans-serif!important;}
.pasos{margin: 30px 0;}
.titulos > h1 {font-family: 'titulos' !important;}
.numeros{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #111633;
    width: 4%;
    height: 45px;
}
.numeros > h3{
    margin-bottom: 0 !important;
    margin-top: 10px !important;
    font-family: 'titulos' !important;
}
.lineas{
    display: inline-block;
    width: 150px;
}
.numeros, .lineas{margin: 0 20px;}
hr {
    border-style: inset;
    border-width: 1px;
    margin-bottom: 6px !important;
}
.boton{
    background-color: white;
    border: 2px solid #111633!important;
    color: #111633;
    border-radius: 0!important;
}
button:hover{
    background-color: #111633;
    color: white !important;
    border-radius: 0;
}
.cantidad{
    width: 60px !important;
    border-radius: 0!important;
}
.glyphicon-remove{ cursor: pointer; }
.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td{ vertical-align: middle!important;}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}
@media screen and (max-width: 992px) {
    .numeros{
        width: 6% !important;
        height: 40px;
    }
    .lineas{width: 33px}
}
@media screen and (max-width: 650px) {
    .numeros{
        width: 6% !important;
        height: 33px;
    }
    .numeros > h3{ font-size: 18px !important; }
    .lineas{display: none}
}
@media screen and (max-width: 480px) {
    .numeros{
        width: 8% !important;
        height: 28px;
    }
    .numeros > h3{ font-size: 15px !important; }
    .lineas{display: none}
}