.pasos{margin: 30px 0;}
.titulos > h1 {font-family: 'titulos' !important;}
.numeros{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #111633;
    width: 4%;
    height: 45px;
}
.numeros > h3{
    margin-bottom: 0 !important;
    margin-top: 10px !important;
    font-family: 'titulos' !important;
}
.lineas{
    display: inline-block;
    width: 150px;
}
.numeros, .lineas{margin: 0 20px;}
hr {
    border-style: inset;
    border-width: 1px;
    margin-bottom: 6px !important;
}
label{color: #111633 !important}
.btn-md{
    background-color: #111633;
    border: 1px solid white;
    color: white;
    border-radius: 0!important;
}
.btn-md:hover{
    background-color: white;
    border: 1px solid #111633;
    color: #111633;
    border-radius: 0;
}
.row input{border-radius: 0 !important;}
@media screen and (max-width: 992px) {
    .numeros{
        width: 6% !important;
        height: 40px;
    }
    .lineas{width: 33px}
}
@media screen and (max-width: 650px) {
    .numeros{
        width: 7% !important;
        height: 43px;
    }
    .numeros > h3{ font-size: 18px !important; }
    .lineas{display: none}
}
@media screen and (max-width: 420px) {
    .numeros{
        width: 10% !important;
        height: 34px;
    }
    .numeros > h3{ font-size: 15px !important; }
    .lineas{display: none}
}