#serv-aereo{background-color: #59bf8f}
#serv-mar{background-color: #111633}
#serv-almac{background-color: #fdc300}
#serv-puerta{background-color: #9d9d9d}
.servicioss{
    min-height: 525px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0!important;
    margin: 20px 0;
}
.contenido-derecho, .contenido-izq{
    opacity: 0.7;
    min-height: 525px;
}
.contenido-derecho > h1, .contenido-izq > h1{
    font-family: 'titulos' !important;
    opacity: 1.00!important;
    margin: 40% 6%;
    font-size: 60px !important;
    color: white;
}
#serv-aereo > h1 {margin: 40% 16% !important;}
#aereo-contenido, #mar-contenido, #almacen-contenido, #puerta-contenido{
    background-color:white;
    padding: 3%;
    opacity: 1.00;
}
#aereo-contenido > p{
    text-align: justify;
    font-family: sans-serif!important;
    font-size: 20px;
    line-height: 2em;
}
@media screen and (min-width: 768px){
    .servicioss{min-height: 375px !important;}
    .contenido-derecho, .contenido-izq{min-height: 375px !important;}
}
@media screen and (max-width: 768px){
    .servicioss{min-height: 375px !important;}
    .contenido-derecho, .contenido-izq{min-height: 375px !important;}
}
@media screen and (max-width: 420px){
    .servicioss{min-height: 150px !important;}
    .contenido-derecho, .contenido-izq{min-height: 150px !important;}
.contenido-derecho > h1, .contenido-izq > h1{ font-size: 20px !important;}
}
