.flexslider-dos{
    width: 100%;
    margin-top: 10px;
    background: #59bf8f;
    padding: 30px 0;
}
.testimonial-client, .testimonial-text p { color: white !important;}
.flexslider-dos>.flex-control-paging{  position: inherit !important; }