/*ULTIMOS PUBLICADOS*/
.slide{background-color: white;}
.box-img img{
    margin: 5px auto;
   /* width: 40% !important;*/
}
.box-articulo h5 {color: #59bf8f!important;}
.box-articulo{
    padding: 10px;
    margin-top: 5px;
}
.greybox{
    display: inline-block;
    width: 12%;
    float: right;
    margin-right: 20px;
}
.container-publicados{
    background-color: #d7d7d7;
    margin: 20px 0;
    padding: 20px 0;
}
.center-publicados{
    background-color: white;
    padding: 10px;
}
.center-publicados >p{  font-family: 'titulos' !important; }