<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PackForward</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png'%}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/lumino.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
    {% block css %} {% endblock css %}
</head>
<body>
    <input type="hidden" name="id" id="id" value="{{user.id}}">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid" style="background-color: #111633">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'images/log2.png' %}" alt="brand" width="35%"></a>
                <ul class="user-menu">
					<li class="dropdown pull-right">
						<div href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{request.session.imagen}}" alt="" style="max-width: 28px;max-height: 26px;border-radius: 20px;">
                            <p class="nombre" style="display: inline-block">{{ user.get_username }}</p>
                            <span class="caret" style="color: white"></span>
                        </div>
						<ul class="dropdown-menu menu-b" role="menu">
							<li><a href="/dashboard/salir/">Salir</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- Sidebar-->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" style="background-color: #59bf8f">
		<ul class="nav menu" style="padding-top: 10px">
            <li><a class="menu_a" href="{% url 'dashboard' %}">
                <svg class="glyph stroked dashboard dial"><use xlink:href="#stroked-dashboard-dial"/></svg>
                INICIO</a></li>
            {% if 1 in request.session.permisos %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu_a" data-toggle="dropdown" role="button">
                    <svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg>CONFIGURACION</a>
                <ul class="dropdown-menu">
                    {% if request.session.conf > 0 %}
                    <li><a href="/dashboard/configuracion/{{ request.session.conf }}">Valores Iniciales</a></li>
                    {% else %}
                    <li><a href="/dashboard/configuracion">Configuración Básica</a></li>
                    {% endif %}
                    <li><a href="{% url 'listar_marcas' %}">Marcas</a></li>
                    <li><a href="{% url 'listar_modelos' %}">Modelos</a></li>
                    <li><a href="#">Categorias</a></li>
                </ul>
            </li>
                {% endif %}
                {% if 2 in request.session.permisos %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu_a" data-toggle="dropdown" role="button">
                    <svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg>USUARIOS</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'listar_user' %}">Usuarios</a></li>
                    <li><a href="{% url 'listar_clientes' %}">Clientes</a></li>
                    <li><a href="{% url 'logos' %}">Logos de Clientes</a></li>
                </ul>
            </li>
                {% endif %}
                {% if 3 in request.session.permisos %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu_a" data-toggle="dropdown" role="button">
                    <svg class="glyph stroked tag"><use xlink:href="#stroked-tag"/></svg>ECOMMERCE</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Inventario</a></li>
                    <li><a href="#">Ventas</a></li>
                    <li><a href="#">Envios</a></li>
                </ul>
            </li>
                {% endif %}
                {% if 4 in request.session.permisos %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu_a" data-toggle="dropdown" role="button">
                    <svg class="glyph stroked app window with content"><use xlink:href="#stroked-app-window-with-content"/></svg>CONTENIDOS</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'listar_serv' %}">Servicios</a></li>
                    <li><a href="{% url 'listar_noti' %}">Noticias</a></li>
                    <li><a href="#">Banners</a></li>
                    <li><a href="#">Notificaciones</a></li>
                    <li><a href="{% url 'listar_test' %}">Testimoniales</a></li>
                </ul>
            </li>
                {% endif %}
                {% if 5 in request.session.permisos %}
            <li><a class="menu_a" href="{% url 'listar_mensajes' %}">
                <svg class="glyph stroked email"><use xlink:href="#stroked-email"/></svg>MENSAJERÍA</a></li>
                {% endif %}
		</ul>
	</div>

    <!--Contenido ira aca! -->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="padding: 0 !important;">
    {% block content %}
        <img src="{% static 'images/bienvenidos.png' %}" alt="packforward" class="img-responsive">
    {% endblock content %}
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lumino.glyphs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.min.js' %}"></script>
    {% block js %}
<script type="text/javascript">

</script>
 {% endblock js %}
</body>
</html>
