{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_editor.min.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_editor.pkgd.min.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_style.min.css' %}">
{% endblock css %}

{% block content %}
     <div class="container whitecanvas" style="margin-top: 20px; margin-left: 20px; width: auto !important">
         <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-10 col-md-offset-1">
                <div class="card">
                    <div class="header">
                        <h3 class="title">{% block title %}Configuración de Valores Iniciales{% endblock title %}</h3>
                    </div>
                        <div class="content">
                            <!-- Seccion "NOSOTROS -->
                            <div class="row">
                                <h4 class="title">Seccion "NOSOTROS"</h4>
                                    <div class="form-group col-md-12">
                                        <label>Descripcion:</label>
                                        {{form.descripcion_nosotros}}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Imagen 1:</label>
                                        <img id="preview_image" src="{{imagen}}" class="img-responsive" alt="" style="max-width: 300px; max-height: 100px; width: 300px; height: 100px">
                                        <div class="text-center">
                                            {{form.imagen1nosotros}}
                                            <a id="browse" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Imagen 2:</label>
                                        <img id="preview_image2" src="{{imagen2}}" class="img-responsive" alt="" style="max-width: 300px; max-height: 100px; width: 300px; height: 100px">
                                        <div class="text-center">
                                            {{form.imagen2nosotros}}
                                            <a id="browse2" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                                        </div>
                                    </div>
                            </div>

                            <!-- >Seccion "INFORMACION -->
                            <div class="row">
                                <h4 class="title">Seccion "INFORMACION"</h4>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descripcion:</label>
                                        {{form.descripcion_info}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Imagen 1:</label>
                                        <img id="preview_image3" src="{{imagen3}}" class="img-responsive" alt="" style="max-width: 250px; max-height: 100px; width: 250px; height: 100px">
                                        <div class="text-center">
                                            {{form.imagen1info}}
                                            <a id="browse3" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Imagen 2:</label>
                                        <img id="preview_image4" src="{{imagen4}}" class="img-responsive" alt="" style="max-width: 250px; max-height: 100px; width: 250px; height: 100px">
                                        <div class="text-center">
                                            {{form.imagen2info}}
                                            <a id="browse4" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Imagen 3:</label>
                                        <img id="preview_image5" src="{{imagen5}}" class="img-responsive" alt="" style="max-width: 250px; max-height: 100px; width: 250px; height: 100px">
                                        <div class="text-center">
                                            {{form.imagen3info}}
                                            <a id="browse5" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pagos -->
                            <div class="row text-center">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label>Precio USD al Cambio Bs</label>
                                        {{form.precio_usd}}
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Aceptar pagos en Bolivares</label>
                                        {{form.pago_bs}}
                                    </div>
                                </div>
                            </div>
                            {% if form.errors %}
                                <h6 style="color: red">{{ form.errors }}</h6>
                            {% endif %}
                            {% for message in messages %}
                                <h6 style="color: red">{{ message }}</h6>
                            {% endfor %}
                             <div class="text-center">
                                 <button type="submit" class="btn" style="border-radius: 20px !important;">Guardar Configuración</button>
                             </div>
                        </div>
                    </div>
            </div>
         </form>
     </div>

{% endblock content %}
{% block js %}
<script type="text/javascript" src="{% static 'js/froala_editor.min.js' %}"></script>
<script type="text/javascript">
$(function (){
    $('#browse').click(function(){
        $(this).parent().find('input').click();
    });
    $('#browse2').click(function(){
        $(this).parent().find('input').click();
    });
    $('#browse3').click(function(){
        $(this).parent().find('input').click();
    });
    $('#browse4').click(function(){
        $(this).parent().find('input').click();
    });
    $('#browse5').click(function(){
        $(this).parent().find('input').click();
    });
});

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function readURL2(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image2').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function readURL3(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image3').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function readURL4(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image4').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function readURL5(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image5').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$('#id_descripcion_nosotros').froalaEditor();
$('#id_descripcion_info').froalaEditor();

</script>
 {% endblock js %}
