{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}{% endblock css %}

{% block content %}
<div class="container" style="margin-top: 20px; width: auto; margin-left: 20px;">
    <div class="row">
        <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-8 whitecanvas">
                    {% block card %}
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{% block title %}Crear Cliente{% endblock title %}</h4>
                            </div>
                            <div class="content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Nombre</label>
                                                    {{form.first_name}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Apellido</label>
                                                    {{form.last_name}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Usuario</label>
                                                    {{form.username}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Correo Electronico</label>
                                                    {{form.email}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Telefono</label>
                                                    {{form2.telefono}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fax</label>
                                                    {{form2.fax}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Contraseña</label>
                                                    {{form.password1}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Confirmar Contraseña</label>
                                                    {{form.password2}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>¿Es Empresa?</label>
                                                    {{form2.empresa}}
                                                </div>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                            <h6 style="color: red">{{ form.errors }}</h6>
                                        {% endif %}
                                        {% if form2.errors %}
                                            <h6 style="color: red">{{ form2.errors }}</h6>
                                        {% endif %}
                                        {% for message in messages %}
                                            <h6 style="color: red">{{ message }}</h6>
                                        {% endfor %}
                                         <div class="text-center">
                                             <button type="submit" class="btn" style="border-radius: 20px !important;">Guardar Cliente</button>
                                         </div>
                            </div>
                        </div>
                    {% endblock card%}
            </div>
            <div class="col-md-3 whitecanvas" style="margin-left: 10px;">
                    <div class="card">
                        <div class="content">
                                <img id="preview_image" src="{% static 'images/cargarfoto.png' %}" class="img-responsive" alt="" style="max-width: 200px; max-height: 200px; width: 200px; height: 200px; margin: 0 auto">
                                <div class="text-center">
                                    {{ form2.imagen }}
                                    <a id="browse" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                                </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
$(function (){
    $('#browse').click(function(){
    $(this).parent().find('input').click();
});
});

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function soloNumeros(e) {
  var key = window.Event ? e.which : e.keyCode;
  return ((key >= 48 && key <= 57) || e.keyCode == 9 || e.keyCode == 46)
}

</script>
 {% endblock js %}
