{% extends 'dashboard/base.html' %}

{% block content %}
<div  style="margin-left: 310px;margin-top: 50px">
	<h3>Confirmar Eliminación</h3>
		<form method="post">
			{% csrf_token %}
				<h4>¿Está seguro que desea eliminar el registro?</h4>
				<button type="submit">Si</button>
				<a href="{% url 'listar_marcas' %}">No</a>
		</form>
</div>		
{% endblock %}