{% extends 'dashboard/base.html' %}

{% block content %}
<div  style="margin-left: 310px;margin-top: 50px">
	<h3>Confirmar Cambio de Estado</h3>
		<form method="post">
		{% csrf_token %}
		<h3>¿Desea cambiar el estado de la noticia de {{ noticia.titulo }}?</h3>
		<button type="submit">Si</button>
		<a href="{% url 'listar_noti' %}">No</a>
	</form>
</div>		
{% endblock %}