{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block content %}
 <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
     <div class="row" style="margin-top: 50px;">
            <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-8">
                    {% block card %}
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{% block title %}Modelos{% endblock title %}</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <label>Nombre del Modelo</label>
                                    {{form.nombre}}
                                </div>
                                <div class="row">
                                    <label>Marca Relacionada</label>
                                    {{form.id_marca}}
                                </div>
                                {% if form.errors %}
                                    <h6 style="color: red">{{ form.errors }}</h6>
                                {% endif %}
                                {% for message in messages %}
                                    <h6 style="color: red">{{ message }}</h6>
                                {% endfor %}
                                <div class="text-center">
                                    <button type="submit" class="btn" style="border-radius: 20px !important;">Guardar Marca</button>
                                </div>
                            </div>
                        </div>
                    {% endblock card%}
            </div>
            </form>      
            </div>
 </div>
{% endblock content %}

