{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_editor.min.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_editor.pkgd.min.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_style.min.css' %}">
{% endblock css %}

{% block content %}
<div class="container" style="margin-top: 20px; width: auto;">
    <div class="col-md-9 col-md-offset-1 whitecanvas">
        <main class="o-content">
            <div class="o-container">
                <form id="form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form.puntuacion}}
                  <div class="content">
                    <div class="">
                        <label>Usuario Relacionado</label>
                        {{form.id_usuario}}
                    </div>
                    <div class="">
                        <label>Testimonio del Usuario</label>
                        {{form.testimonio}}
                    </div>
                    <div class="">
                        <label>Evaluacion del Usuario</label>
                        <div class="o-section">
                          <div id="shop"></div>
                        </div>
                    </div>
                    {% if form.errors %}
                        <h6 style="color: red">{{ form.errors }}</h6>
                    {% endif %}
                    {% for message in messages %}
                        <h6 style="color: red">{{ message }}</h6>
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn" style="border-radius: 20px !important;">Guardar Testimonial</button>
                    </div>
                </div>
                </form>
  </div>
        </main>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/froala_editor.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/rating.min.js' %}"></script>
<script>
  /**
   * Demo in action!
   */
  (function() {

    'use strict';

    // SHOP ELEMENT
    var shop = document.querySelector('#shop');

    // DUMMY DATA
    var data = [
      {
        rating: $("#id_puntuacion").val()
      }
    ];

    // INITIALIZE
    (function init() {
      for (var i = 0; i < data.length; i++) {
        addRatingWidget(buildShopItem(data[i]), data[i]);
      }
    })();

    // BUILD SHOP ITEM
    function buildShopItem(data) {
      var shopItem = document.createElement('div');

      var html = '<div class="c-shop-item__img"></div>' +
        '<div class="c-shop-item__details">' +
          '<ul class="c-rating"></ul>' +
        '</div>';

      shopItem.classList.add('c-shop-item');
      shopItem.innerHTML = html;
      shop.appendChild(shopItem);

      return shopItem;
    }

    // ADD RATING WIDGET
    function addRatingWidget(shopItem, data) {
      var ratingElement = shopItem.querySelector('.c-rating');
      var currentRating = data.rating;
      var maxRating = 5;
      var callback = function(rating) { 
        $("#id_puntuacion").val(rating);
      };
      var r = rating(ratingElement, currentRating, maxRating, callback);
    }
  })();
  //FROALA EDITOR
    jQuery(document).ready(function () {
        $('#id_testimonio').froalaEditor();
    })
</script>
 {% endblock js %}