<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
    <style>
        body{
            background: url("/static/images/fondo_login.jpg") no-repeat fixed;
            background-size: 100%;
        }
    </style>
    {% block ccs %} {% endblock ccs %}
</head>
<body>
        <div class="container">

            <form class="form-signin" id="form_sesion" method="post" accept-charset="utf-8">
                <h2 class="form-signin-heading"><img src="{% static 'images/logo.png' %}" alt="PackForward" width="100%"></h2>
                {% csrf_token %}
                {% block center %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <label for="inputUser" class="sr-only">Username</label>
                    <input type="text" name="username" id="inputUser" class="form-control" placeholder="Username" required autofocus style="margin-bottom: 10px; text-indent: 22px;">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required style="margin-bottom: 10px; text-indent: 22px;">

                        {% if messages %}
                            {% for message in messages %}
                                <h6 style="color: red;">{{ message }}</h6>
                            {% endfor %}
                        {% endif %}

                    <a href="{% url 'password_reset' %}" class="pull-right" style="margin-bottom: 20px !important;">¿Olvidaste tu contraseña?</a>
                    <input class="btn btn-block" type="submit" style="margin: 20px 0 !important;" value="INICIAR SESIÓN" id="btn_ingresar">
            {% endblock %}
          </form>
        </div> <!-- /container -->

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    {% block js %} {% endblock js %}
</body>
</html>