{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    <div class="container"style="margin-top: 20px; width: auto;">
        <div class="container-fluid whitecanvas">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="display: inline-block">Lista de Marcas</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped" id="tabla">
                            {% if object_list %}
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Nombre</td>
                                    <td class="text-center">Editar</td>
                                    <td class="text-center">Eliminar</td>
                                </tr>
                            </thead>
                            <tbody  id="tbody">
                                {% for m in object_list %}
                                <tr>
                                    <td>{{ m.id_marca }}</td>
                                    <td>{{ m.nombre }}</td>
                                    <td class="text-center">
                                        <a title="Editar" style="cursor:pointer;" onclick="click_modal_editar('{{m.id_marca}}','{{m.nombre}}','#myModal2','#form2','editarmarca/')">
                                            <span class="ti-pencil"></span></a></td>
                                    <td class="text-center">
                                        <a title="Eliminar" style="cursor:pointer;" onclick="click_modal('{{m.id_marca}}','#myModal3','#formeliminar','/dashboard/eliminarmarca/')">
                                            <span class="ti-eraser"></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if is_paginated %}
                            <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                      {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                      {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                            </ul>
                        {% endif %}
                            {% else %}
                                <h3>No Hay Registros de Marcas.</h3>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <div class="col-xs-12 text-center">
        <button type="button" class="btn" data-toggle="modal" data-target="#myModal" style="border-radius: 20px !important;" >Crear Marca</button>
    </div>
    <!-- MODAL CREAR -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Crear Marca</h4>
            </div>
            <div class="modal-body">
                <form id="form" method="post" enctype="multipart/form-data" action="crearmarca/">
                    {% csrf_token %}
                    <div class="form group">
                        <label>Nombre de la marca</label>
                        <input type="text" name="nombre" placeholder="Nombre de la Marca" required="" maxlength="50" class="form-control  border-input" id="id_nombre">
                    </div>
                    <button type="submit" class="btn" style="margin-top: 5px;">Guardar Marca</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL EDITAR -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Crear Marca</h4>
            </div>
            <div class="modal-body">
                <form id="form2" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-8">
                        <div class="content">
                            <label>Nombre de la marca</label>
                        <input type="text" name="nombre" placeholder="Nombre de la Marca" required="" maxlength="50" class="form-control  border-input" id="id_nombre2">
                        </div>
                    </div>
                    <button type="submit" class="btn" style="border-radius: 20px !important;">Guardar Marca</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn"  style="border-radius: 20px !important;" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- MODAL ELIMINAR -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirmar Eliminación</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="formeliminar">
                    {% csrf_token %}
                        <h4>¿Está seguro que desea eliminar la Marca?</h4>
                        <button type="submit" class="btn"style="border-radius: 20px !important;">Si</button>
                        <button type="button" class="btn" style="border-radius: 20px !important;" data-dismiss="modal">No</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" style="border-radius: 20px !important;" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function click_modal(id_item, modal_mostrar, form, accion) {
        $(modal_mostrar).modal("show");
        $(form).attr("action", accion + id_item+"/");
    }

    function click_modal_editar(id_item, valor,modal_mostrar, form, accion) {
        $("input[id='id_nombre2']").val(valor);
        $(modal_mostrar).modal("show");
        $(form).attr("action", accion + id_item);
    }
</script>
{% endblock js%}

