{% extends 'dashboard/base.html' %}

{% block content %}
     <div class="container"style="margin-top: 20px; width: auto;">
        <div class="container-fluid whitecanvas">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="display: inline-block">Lista de Servicios</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped" id="tabla">
                        {% if object_list %}
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Imagen</td>
                        <td>Nombre</td>
                        <td>Descuento</td>
                        <td>Asegurado</td>
                        <td>Precio de Lb</td>
                        <td>Precio de Kg</td>
                        <td>Estado</td>
                        <td class="text-center">Editar</td>
                        <td class="text-center">Eliminar</td>
                    </tr>
                </thead>
                <tbody  id="tbody">
                    {% for t in object_list %}
                    <tr>
                        <td>{{ t.id_servicio }}</td>
                        <td><img style="max-width: 200px;max-height: 50px;" src="/media/{{t.encabezado}}"></td>
                        <td>{{ t.titulo }}</td>
                        <td>{{ t.descuento }}</td>
                        {% if t.maneja_seguro %}
                            <td>
                                Si
                            </td>
                        {% else %}
                            <td>
                                No
                            </td>
                        {% endif %}
                        <td>{{ t.precio_lb }}</td>
                        <td>{{ t.precio_kg }}</td>
                        {% if t.estado %}
                            <td>
                                Activo
                            </td>
                        {% else %}
                            <td>
                                Inactivo
                            </td>
                        {% endif %}
                        <td class="text-center">
                            <a href="{% url 'editar_serv' t.id_servicio %}" title="Editar"><span class="ti-pencil"></span></a></td>
                        <td class="text-center">
                            <a href="{% url 'eliminar_serv' t.id_servicio %}" title="eliminar"><span class="ti-eraser"></span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

                {% else %}
                    <h3>No Hay Registros de Servicios.</h3>
                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        <a href="crearserv/" class="btn" style="border-radius: 50px!important;">Crear Servicio</a>
    </div>
{% endblock %}