{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 20px; width: auto;">
        <div class="container-fluid whitecanvas">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="display: inline-block">Lista de Clientes</h4>
                        <div class="form-inline pull-right" style="display: inline-block">
                            <label>Cliente</label>
                            <input type="text" id="buscar" name="buscar" onkeydown="enter(event);" class="form-control" placeholder="Nombre"/>
                            <button type="submit" class="btn" id="boton" style="border-radius: 5px !important;">Buscar</button>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped" id="tabla">
                        {% if object_list %}
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Imagen</td>
                                    <td>Nombre</td>
                                    <td>Apellidos</td>
                                    <td>Correo</td>
                                    <td>Usuario</td>
                                    <td>Estado</td>
                                    <td>Editar</td>
                                    <td>Estado</td>
                                </tr>
                            </thead>
                            <tbody  id="tbody">
                                {% for user in object_list %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td><img src="/media/{{user.usuario.imagen}}" width="60px" height="60px"></td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.username }}</td>
                                    {% if user.is_active %}
                                        <td>
                                            Activo
                                        </td>
                                    {% else %}
                                        <td>
                                            Inactivo
                                        </td>
                                    {% endif %}
                                    <td class="text-center">
                                        <a href="{% url 'editar_cliente' user.id %}" title="Editar"><span class="ti-pencil"></span></a></td>
                                    <td class="text-center">
                                        <a title="Estado" onclick="click_modal('{{user.id}}', '#myModal', '#formestado', '/dashboard/estadocliente/')">
                                            <span class="ti-eye"></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <!-- Pie de pagina -->
                        <nav aria-label="Page navigation"  class="text-center col-sm-12">
                            {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                        {% else %}
                        <h3>No Hay Registros de Clientes.</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        <a href="crearcliente/" class="btn" style="border-radius: 50px!important;">Crear Cliente</a>
    </div>
    <!-- MODAL ESTADO -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Estado Cliente</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="formestado">
                        {% csrf_token %}
                        <p>¿Desea Desactivar este Cliente?</p>
                        <button class="btn" type="submit">Si</button>
                        <button type="button" class="btn" data-dismiss="modal">No</button>
                    </form>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn" style="border-radius: 20px !important;" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function (){
    $('#boton').click(function(){
        if ($('#buscar').val()!='') {}
            busqueda($('#buscar').val());
    });
});

function busqueda(entrada) {
    $.ajax({
        url: '/dashboard/searchc/',
        type: 'POST',
        dataType: 'json',
        data : {
            buscado:entrada },
        success: function(data) {
            var fila="";
            estado="";
            for (var i in data){ 
                if (data[i].is_active) {
                    estado="Activo";
                }else{
                    estado="Inactivo";
                }
                fila = fila + "<tr>" +
                    "<td>" + i + "</td>" +
                    "<td><img src='/media/"+data[i].imagen+"' width='60px' height='60px'></td>"+
                    "<td>" + data[i].first_name + "</td>" +
                    "<td>" + data[i].last_name +  "</td>" +
                    "<td>" + data[i].email + "</td>" +
                    "<td>" + data[i].username + "</td>" +
                    "<td>" + estado +  "</td><td class='text-center'><a href='/dashboard/editarcliente/"+ i + "' title='Editar'><span class='ti-pencil'></a></td>" +
                    "<td class='text-center'><a style='cursor: pointer' " + 'onclick="click_modal('+i+",'#myModal','#formestado','/dashboard/estadocliente/'"+ ')"' + "title='Estado'><span class='ti-eraser'></a></td></tr>";
            }
            $("#tbody").html("");
            $("#tbody").append(fila);

        }
    });
}

function enter(evento){
    if (window.event){ 
        if (window.event.keyCode==13){ 
            busqueda($('#buscar').val());
        } 
    }else{ 
        if (evento){ 
            if(evento.which==13){ 
               busqueda($('#buscar').val());
            } 
        } 
    } 
}
 function click_modal(id_item, modal_mostrar, form, accion) {
        $(modal_mostrar).modal("show");
        $(form).attr("action", accion + id_item+"/");
    }
</script>
 {% endblock js %}