{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<div class="container" style="margin-top: 20px; width: auto;">
    <div class="container-fluid whitecanvas">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title" style="display: inline-block">Lista de Noticias</h4>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped" id="tabla">
                        {% if object_list %}
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Imagen</td>
                                <td>Titulo</td>
                                <td>Publicado el</td>
                                <td>Estado</td>
                                <td class="text-center">Estado</td>
                                <td class="text-center">Editar</td>
                                <td class="text-center">Eliminar</td>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            {% for t in object_list %}
                            <tr>
                                <td>{{ t.id_noticia }}</td>
                                <td><img style="max-width: 200px;max-height: 50px;" src="/media/{{t.imagen}}" height="50px" width="50px"></td>
                                <td style="width: 350px">{{ t.titulo }}</td>
                                <td>{{ t.fecha }}</td>
                                {% if t.estado %}
                                <td>
                                    Activo
                                </td>
                                {% else %}
                                <td>
                                    Inactivo
                                </td>
                                {% endif %}
                                <!--td class="text-center">
                            <a href="{% url 'estado_noti' t.id_noticia %}" title="Estado"><span class="ti-eye"></span></a>
                        </td-->
                                <td class="text-center">
                                    <a title="Estado" onclick="click_modal('{{t.id_noticia}}', '#myModal', '#formestado', '/dashboard/estadonoti/')">
                                        <span class="ti-eye"></span></a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'editar_noti' t.id_noticia %}" title="Editar"><span class="ti-pencil"></span></a>
                                </td>
                                <!--td class="text-center">
                            <a href="{% url 'eliminar_noti' t.id_noticia %}" title="eliminar"><span class="ti-eraser"></span></a>
                        </td-->
                                <td class="text-center">
                                    <a title="eliminar" onclick="click_modal('{{t.id_noticia}}','#myModal2','#formeliminar','/dashboard/eliminarnoti/')">
                                        <span class="ti-eraser"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pie de pagina -->
                        <nav aria-label="Page navigation"  class="text-center col-sm-12">
                            {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    {% else %}
                    <h3>No Hay Registros de Noticias.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 text-center">
    <a href="crearnoti/" class="btn">Crear Noticia</a>
</div>
<!-- MODAL ESTADO -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Estado Noticia</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="formestado">
                        {% csrf_token %}
                        <p>¿Desea Desactivar este Noticia?</p>
                        <button class="btn" type="submit">Si</button>
                        <button type="button" class="btn" data-dismiss="modal">No</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL ELIMINAR -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar Noticia</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="formeliminar">
                        {% csrf_token %}
                        <h4>¿Está seguro que desea eliminar esta noticia?</h4>
                        <button class="btn" type="submit">Si</button>
                        <button type="button" class="btn" data-dismiss="modal">No</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    function click_modal(id_item, modal_mostrar, form, accion) {
        $(modal_mostrar).modal("show");
        $(form).attr("action", accion + id_item+"/");
    } 
</script>
{% endblock js%}