{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container"style="margin-top: 50px; width: 1052px">
        <div class="container-fluid whitecanvas">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="display: inline-block">Mensajes sin Responder</h4>
                        <div class="form-inline pull-right" style="display: inline-block">
                            <label>Cliente</label>
                            <input type="text" id="buscar" name="buscar" onkeydown="enter(event);" class="form-control" placeholder="Nombre"/>
                            <button type="submit" class="btn" id="boton" style="border-radius: 5px !important;">Buscar</button>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped" id="tabla">
                        {% if object_list %}
                            <thead>
                                <tr>
                                    <td>Fecha</td>
                                    <td>Nombre</td>
                                    <td>Apellidos</td>
                                    <td>Correo</td>
                                    <td>Estado</td>
                                    <td>Opciones</td>
                                </tr>
                            </thead>
                            <tbody  id="tbody">
                                {% for m in object_list %}
                                <tr>
                                    <td>{{ m.fecha_recibido }}</td>
                                    <td>{{ m.nombre }}</td>
                                    <td>{{ m.apellido }}</td>
                                    <td>{{ m.correo }}</td>
                                    {% if m.estado %}
                                        <td>
                                            Leído
                                        </td>
                                    {% else %}
                                        <td>
                                            No Leído
                                        </td>
                                    {% endif %}
                                    <td class="text-center"><a href="{% url 'ver_mensaje' m.id_mensaje %}" title="Ver"><span class="ti-eye"></span></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Pie de pagina -->
                        <nav aria-label="Page navigation"  class="text-center col-sm-12">
                            {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                        {% else %}
                            <h3>No Hay Registros de Mensajes.</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function (){
    $('#boton').click(function(){
        if ($('#buscar').val()!='') {}
            busqueda($('#buscar').val());
    });
});

function busqueda(entrada) {
    $.ajax({
        url: '/dashboard/search/',
        type: 'POST',
        dataType: 'json',
        data : {
            buscado:entrada },
        success: function(data) {
            var fila="";
            estado="";
            for (var i in data){ 
                if (data[i].fields['is_active']) {
                    estado="Activo";
                }else{
                    estado="Inactivo";
                }
                fila = fila + "<tr><td>" + data[i].pk + "</td><td>" + data[i].fields['first_name'] + "</td><td>" + data[i].fields['last_name'] +  "</td><td>" + data[i].fields['email'] + "</td><td>" + data[i].fields['username'] + "</td><td>" + estado +  "</td><td style='text-align: center;'><a href='/dashboard/editarcliente/"+ data[i].pk +"' title='Editar'>Editar</a><a href='/dashboard/estadocliente/"+ data[i].pk +"' title='Estado'>Cambiar Estado</a></td></tr>";
            }
            $("#tbody").html("");
       $("#tbody").append(fila);

        }
    });
}     

function enter(evento){
    if (window.event){ 
        if (window.event.keyCode==13){ 
            busqueda($('#buscar').val());
        } 
    }else{ 
        if (evento){ 
            if(evento.which==13){ 
               busqueda($('#buscar').val());
            } 
        } 
    } 
}

</script>
 {% endblock js %}