{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    <div class="container"style="margin-top: 20px; width: auto;">
        <div class="container-fluid whitecanvas">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="display: inline-block">Lista de Modelos</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped" id="tabla">
                             {% if object_list %}
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Nombre</td>
                                    <td>Marca</td>
                                    <td class="text-center">Editar</td>
                                    <td class="text-center">Eliminar</td>
                                </tr>
                            </thead>
                            <tbody  id="tbody">
                                {% for m in object_list %}
                                <tr>
                                    <td>{{ m.id_modelo }}</td>
                                    <td>{{ m.nombre }}</td>
                                    <td>{{ m.id_marca.nombre }}</td>
                                    <td class="text-center">
                                        <a title="Editar" style="cursor:pointer;" onclick="click_modal_editar('{{m.id_modelo}}','{{m.id_marca.id_marca}}','{{m.nombre}}','#myModal2','#formeditar','editarmodelo/')"><span class="ti-pencil"></span></a>
                                    </td>
                                    <td class="text-center">
                                        <a title="Eliminar"  style="cursor:pointer;" onclick="click_modal('{{m.id_modelo}}','#myModal3','#formeliminar','/dashboard/eliminarmodelo/')"><span class="ti-eraser"></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if is_paginated %}
                            <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                      {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                      {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                            </ul>
                        {% endif %}
                            {% else %}
                                <h3>No Hay Registros de Modelos.</h3>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <div class="col-xs-12 text-center">
        <!--a href="crearmodelo/" class="btn" style="border-radius: 50px!important;">Crear Modelo</a-->
        <button type="button" class="btn" data-toggle="modal" data-target="#myModal" style="border-radius: 20px !important;">Crear Modelo</button>
    </div>
    <!-- MODAL CREAR -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Crear Modelo</h4>
            </div>
            <div class="modal-body">
                <form id="form" method="post" enctype="multipart/form-data" action="crearmodelo/">
                    {% csrf_token %}
                    <div class="form group">
                        <label>Escoja la marca</label>
                        <select name="id_marca" class="form-control border-input" id="id_id_marca" required="required">
                          <option value="" selected="">---------</option>
                        </select>
                        <label>Nombre del modelo</label>
                        <input type="text" name="nombre" class="form-control  border-input" placeholder="Nombre del modelo" id="id_nombre" required="" maxlength="50">
                    </div>
                    <button type="submit" class="btn" style="border-radius: 20px !important; margin-top: 5px;">Guardar Modelo</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn"  style="border-radius: 20px !important;" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL EDITAR -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modificar Marca</h4>
            </div>
            <div class="modal-body">
                <form id="formeditar" method="post" enctype="multipart/form-data" action="editarmodelo/">
                    {% csrf_token %}
                    <div class="form group">
                        <label>Escoja la marca</label>
                        <select name="id_marca" class="form-control border-input" id="id_id_marca2" required="required">
                          <option value="">---------</option>
                        </select>
                        <label>Nombre del modelo</label>
                        <input type="text" name="nombre" class="form-control  border-input" placeholder="Nombre del modelo" id="id_nombre2" required="" maxlength="50">
                    </div>
                    <button type="submit" class="btn" style="border-radius: 20px !important; margin-top: 5px;">Guardar Modelo</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn"  style="border-radius: 20px !important;" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- MODAL ELIMINAR -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirmar Eliminación</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="formeliminar">
                    {% csrf_token %}
                        <h4>¿Está seguro que desea eliminar el Modelo?</h4>
                        <button type="submit" class="btn"style="border-radius: 20px !important;">Si</button>
                        <button class="btn">No</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" style="border-radius: 20px !important;" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function click_modal(id_item, modal_mostrar, form, accion) {
        $(modal_mostrar).modal("show");
        $(form).attr("action", accion + id_item+"/");
    }
    function click_modal_editar(id_item, marca,nombre, modal_mostrar, form, accion) {
        document.getElementById('id_id_marca2').value = marca;
        $("input[id='id_nombre2']").val(nombre);
        $(modal_mostrar).modal("show");
        $(form).attr("action", accion + id_item);
    }
    $(function () {
        $(document).ready(function () {
            cargarMarcas();
        });
    });

    function cargarMarcas() {
        $.ajax({
            dataType: 'json',
            method: 'POST',
            url: '/dashboard/cargarmarcas',
            success: function (data) {
                for (var i in data) {
                    if ($('#marca').val() == data[i].pk) {
                        $('#id_id_marca').append('<option value="' + data[i].pk + '" selected>' + data[i].fields.nombre + '</option>');
                    } else {
                        $('#id_id_marca').append('<option value="' + data[i].pk + '">' + data[i].fields.nombre + '</option>');
                    }
                }
                for (var i in data) {
                    $('#id_id_marca2').append('<option value="' + data[i].pk + '">' + data[i].fields.nombre + '</option>');
                }
            }
        });
    }
</script>
{% endblock js%}