{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/froala_editor.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_style.css' %}">
<link rel="stylesheet" href="{% static 'css/gray.css' %}">
<style>
    .fr-box {margin: 15px 0 !important;}
    .fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i {color: black!important;}
</style>
{% endblock css %}

{% block content %}
    <div class="container"style="margin-top: 20px; width: auto;">
        <div class="container-fluid whitecanvas">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="display: inline-block">Lista de Testimonios</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped" id="tabla">
                             {% if object_list %}
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Usuario</td>
                                    <td class="text-center">Puntuacion</td>
                                    <td>Estado</td>
                                    <td class="text-center">Estado</td>
                                    <td class="text-center">Editar</td>
                                    <td class="text-center">Eliminar</td>
                                </tr>
                            </thead>
                            <tbody  id="tbody">
                                {% for t in object_list %}
                                <tr>
                                    <td>{{ t.id_testimonial }}</td>
                                    <td>{{ t.id_usuario.first_name }} {{ t.id_usuario.last_name }}</td>
                                    <td class="text-center">{{ t.puntuacion }}</td>
                                    {% if t.estado %}
                                        <td>
                                            Activo
                                        </td>
                                    {% else %}
                                        <td>
                                            Inactivo
                                        </td>
                                    {% endif %}
                                    <td class="text-center">
                                        <a  title="Estado" onclick="click_modal('{{t.id_testimonial}}', '#myModal', '#formestado', '/dashboard/estadotest/')"><span class="ti-eye"></span></a></td>
                                    <!--td class="text-center">
                                        <a href="{% url 'estado_test' t.id_testimonial %}" title="Estado"><span class="ti-eye"></span></a></td-->
                                    <td class="text-center">
                                        <a href="{% url 'editar_test' t.id_testimonial %}" title="Editar"><span class="ti-pencil"></span></a></td>
                                    <!--td class="text-center">
                                        <a href="{% url 'eliminar_test' t.id_testimonial %}" title="Eliminar"><span class="ti-eraser"></span></a></td-->
                                    <td class="text-center">
                                        <a id="eliminar" title="Eliminar" onclick="click_modal('{{t.id_testimonial}}','#myModal3','#formeliminar','/dashboard/eliminartest/')">
                                            <span class="ti-eraser"></span></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Pie de pagina -->
                        <nav aria-label="Page navigation"  class="text-center col-sm-12">
                            {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                        {% else %}
                            <h3>No Hay Registros de Testimoniales.</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        <a href="creartest/" class="btn">Crear Testimonio</a>
    </div>
    <!-- MODAL ESTADO -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Estado Testimonio</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="formestado">
                        {% csrf_token %}
                        <p>¿Desea Desactivar este testimonial?</p>
                        <button class="btn" type="submit">Si</button>
                        <button type="button" class="btn" data-dismiss="modal">No</button>
                    </form>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn" style="border-radius: 20px !important;" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
    </div>
    <!-- MODAL ELIMINAR -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Eliminar Testimonio</h4>
                </div>
                <div class="modal-body">
                     <form method="post" id="formeliminar">
                        {% csrf_token %}
                         <p>¿Desea eliminar este testimonial?</p>
                        <button type="submit" class="btn" id="siEliminar">Si</button>
                        <button type="button" class="btn" data-dismiss="modal">No</button>
                     </form>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn"  style="border-radius: 20px !important;" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/rating.min.js' %}"></script>
<script>
 var id_eliminar='';
  /**
   * Demo in action!
   */
  (function() {

    'use strict';

    // SHOP ELEMENT
    var shop = document.querySelector('#shop');

    // DUMMY DATA
    var data = [
      {
        rating: $("#id_puntuacion").val()
      }
    ];

    // INITIALIZE
    (function init() {
      for (var i = 0; i < data.length; i++) {
        addRatingWidget(buildShopItem(data[i]), data[i]);
      }
    })();

    // BUILD SHOP ITEM
    function buildShopItem(data) {
      var shopItem = document.createElement('div');

      var html = '<div class="c-shop-item__img"></div>' +
        '<div class="c-shop-item__details">' +
          '<ul class="c-rating"></ul>' +
        '</div>';

      shopItem.classList.add('c-shop-item');
      shopItem.innerHTML = html;
      shop.appendChild(shopItem);

      return shopItem;
    }

    // ADD RATING WIDGET
    function addRatingWidget(shopItem, data) {
      var ratingElement = shopItem.querySelector('.c-rating');
      var currentRating = data.rating;
      var maxRating = 5;
      var callback = function(rating) {
        $("#id_puntuacion").val(rating);
      };
      var r = rating(ratingElement, currentRating, maxRating, callback);
    }

  })();
function click_modal(id_item, modal_mostrar, form, accion) {
        $(modal_mostrar).modal("show");
        $(form).attr("action", accion + id_item+"/");
    }
</script>
{% endblock js %}