{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<div class="container whitecanvas" style="margin-top: 20px; margin-left: 20px; width: auto">
    <div class="card whitecanvas">
        <div class="header">
            <h4 class="title" style="display: inline-block">Logos de Clientes</h4>
        </div>
        <form class="col-md-3 col-sm-12 whitecanvas text-center" id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="content">
                <img id="preview_image" src="{% static 'images/cargarfoto.png' %}" class="img-responsive" alt="" style="max-width: 200px; max-height: 150px; width: 200px; height: 150px; margin: 0 auto;">
                <div id="botones" style="margin:5px auto;">
                    {{ form.imagen }}
                    <button id="browse" class="btn" style="display: inline">Nuevo Logo</button>
                    <button type="submit" class="btn" style="display: inline">Guardar Logo</button>
                </div>
                <div class="text-center" style="margin-top: 10px;">
                    <p>El tamaño de la imagen del logo debe ser con las siguientes medidas:</p>
                    <ul>
                        <li>Ancho/width: 280px</li>
                        <li>Largo/height: 208px</li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="col-md-8 col-sm-12 whitecanvas">
            <ul class="slides">
                {% for l in logos %}
                <li style="list-style:none; display:inline-block;">
                    <img src="/media/{{l.imagen}}" style="width: 200px; height: 200px; max-width: 200px; max-height: 200px;" />
                    <a onclick="Eliminar({{l.id_logo}})">Eliminar</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script type="text/javascript">
    $(function () {
        $('#browse').click(function () {
            $(this).parent().find('input').click();
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview_image').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function Eliminar(id) {
        $.ajax({
            url: '/dashboard/logoelim/' + id + '/',
            type: 'POST',
            dataType: 'json',
            success: function (msj) {
                //alert(msj.mensaje)
                bootbox.alert({
                    message: msj.mensaje,
                    size: 'small'
                });
                setTimeout(function () { window.location = '/dashboard/logos/' }, 2000);
            }
        });
    }
</script>
{% endblock js %}