{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block content %}
 <div class="container" style="margin-top: 20px; width: auto; margin-left: 20px;">
     <div class="row">
         <form id="form" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <input type="hidden" name="id" id="id" value="{{id}}">
             <div class="col-md-8 whitecanvas">
                        {% block card %}
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">{% block title %}Modificar Usuario{% endblock title %}</h4>
                                </div>
                                <div class="content">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Nombre</label>
                                                        {{form.first_name}}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Apellido</label>
                                                        {{form.last_name}}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Usuario</label>
                                                        {{form.username}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Correo Electronico</label>
                                                        {{form.email}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Pais</label>
                                                        {{form2.pais}}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Ciudad</label>
                                                        {{form2.ciudad}}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if form.errors %}
                                                <h6 style="color: red">{{ form.errors }}</h6>
                                            {% endif %}
                                            {% if form2.errors %}
                                                <h6 style="color: red">{{ form2.errors }}</h6>
                                            {% endif %}
                                            {% for message in messages %}
                                                <h6 style="color: red">{{ message }}</h6>
                                            {% endfor %}
                                             <div class="text-center">
                                                 <button type="submit" class="btn" style="border-radius: 20px !important;">Guardar usuario</button>
                                             </div>
                                </div>
                            </div>
                        {% endblock card%}
                </div>
             <div class="col-md-3 whitecanvas" style="margin-left: 10px;">
                    <div class="card">
                        <div class="content">
                                <img id="preview_image" src="{{imagen}}" class="img-responsive" alt="" style="max-width: 200px; max-height: 200px; width: 200px; height: 200px; margin: 0 auto">
                                <div class="text-center">
                                    {{ form2.imagen }}
                                    <a id="browse" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                                </div>
                                <div class="permisologia">
                                    <h6>Permisología</h6>
                                    <ul class="list-group" style="border-radius: 20px;">
                                      <li class="list-group-item">Configuracion<input type="checkbox" name="permisos" id="1" value="1" style="float: right;"></li>
                                      <li class="list-group-item">Usuarios<input type="checkbox" name="permisos" id="2" value="2" style="float: right;"></li>
                                      <li class="list-group-item">Ecommerce<input type="checkbox" name="permisos" id="3" value="3" style="float: right;"></li>
                                      <li class="list-group-item">Contenidos<input type="checkbox" name="permisos" id="4" value="4" style="float: right;"></li>
                                      <li class="list-group-item">Mensajería<input type="checkbox" name="permisos" id="5" value="5" style="float: right;"></li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
         </form>
     </div>
 </div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
$(function (){
    $('#browse').click(function(){
        $(this).parent().find('input').click();
    });

    $(document).ready(function () {
        permisos();
    });
});

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function permisos() {
    var per= [];
    $.ajax({
        url: '/dashboard/permisos/',
        type: 'POST',
        dataType: 'json',
        data : {
            id:$('#id').val() },
        success: function(data) {
            for (var i in data){
                per.push(data[i].fields['permiso']);
            }
            if (per.indexOf(1) >= 0) {
                document.getElementById("1").checked = true;
            }
            if (per.indexOf(2) >= 0) {
                document.getElementById("2").checked = true;
            }
            if (per.indexOf(3) >= 0) {
                document.getElementById("3").checked = true;
            }
            if (per.indexOf(4) >= 0) {
                document.getElementById("4").checked = true;
            }
            if (per.indexOf(5) >= 0) {
                document.getElementById("5").checked = true;
            }
        }
    });
}

</script>
 {% endblock js %}
