{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block content %}
 <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
     <div class="row" style="margin-top: 50px;">
        <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% block card %}
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">{% block title %}Modificar Servicio{% endblock title %}</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Titulo</label>
                                {{form.titulo}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Imagen de Encabezado</label>
                            <img id="preview_image" src="{{imagene}}" class="img-responsive" alt="" style="max-width: 100%; max-height: 200px; width: 100%; height: 200px">
                            <div class="text-center">
                                {{ form.encabezado }}
                                <a id="browse" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Descripcion del Servicio</label>
                                {{form.descripcion}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Imagen en la Descripción</label>
                            <img id="preview_image2" src="{{imagend}}" class="img-responsive" alt="" style="max-width: 100%; max-height: 291px; width: 100%; height: 291px">
                            <div class="text-center">
                                {{ form.imagen_detalle }}
                                <a id="browse2" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Descuento aplicable</label>
                                {{form.descuento}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>¿Maneja Seguro?</label>
                                {{form.maneja_seguro}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Divisor por Pulgada</label>
                                {{form.divisor_pg}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Divisor por Centimetro</label>
                                {{form.divisor_cm}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Precio por Libra</label>
                                {{form.precio_lb}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Precio por Kilogramo</label>
                                {{form.precio_kg}}
                            </div>
                        </div>
                    </div>
                </div>
                {% if form.errors %}
                    <h6 style="color: red">{{ form.errors }}</h6>
                {% endif %}
                
                <div class="text-center">
                    <button type="submit" class="btn" style="border-radius: 20px !important;">Guardar Servicio</button>
                </div>
            </div>
            </div>
            {% endblock card%}
        </div>
    </form>      
    </div>
 </div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
$(function (){
    $('#browse').click(function(){
    $(this).parent().find('input').click();
    });
    $('#browse2').click(function(){
    $(this).parent().find('input').click();
    });
});

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function readURL2(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image2').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function soloNumeros(e) {
  var key = window.Event ? e.which : e.keyCode;
  return ((key >= 48 && key <= 57) || e.keyCode == 9 || e.keyCode == 46)
}

</script>
 {% endblock js %}
