{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_editor.min.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_editor.pkgd.min.css' %}">
<link rel="stylesheet" href="{% static 'css/froala_style.min.css' %}">
<style>
    .fr-box {margin: 15px 0 !important;}
    .fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i {color: black!important;}
</style>
{% endblock css %}

{% block content %}
 <div class="container whitecanvas" style="margin-top: 20px; width: auto; margin-left: 20px;">
     <div class="row">
        <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-5" style="padding: 50px">
            <div class="card">
                <div class="header">
                    <h4 class="title">{% block title %}Modificar Noticias{% endblock title %}</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Titulo</label>
                                {{form.titulo}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Imagen de la Noticia</label>
                            <img id="preview_image" src="{{imagen}}" class="img-responsive" alt="" style="max-width: 100%; max-height: 200px; width: 100%; height: 200px">
                            <div class="text-center">
                                {{ form.imagen }}
                                <a id="browse" class="btn" style="border-radius: 20px !important; margin: 20px 0;">Cargar Imagen</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Información de la Imagen</label>
                                {{form.info_imagen}}
                            </div>
                        </div>
                    </div>
                </div>
                {% if form.errors %}
                    <h6 style="color: red">{{ form.errors }}</h6>
                {% endif %}
            </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Contenido Seccion 1</label>
                            {{form.contenido_sec1}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Contenido Resaltante</label>
                            {{form.contenido_resaltado}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Contenido Seccion 2</label>
                            {{form.contenido_sec2}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn" style="border-radius: 20px !important;">Guardar Noticia</button>
                </div>
        </form>
    </div>
 </div>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="{% static 'js/froala_editor.min.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#id_contenido_sec1').froalaEditor();
        $('#id_contenido_resaltado').froalaEditor();
        $('#id_contenido_sec2').froalaEditor();
    })
$(function (){
    $('#browse').click(function(){
    $(this).parent().find('input').click();
    });
    $('#browse2').click(function(){
    $(this).parent().find('input').click();
    });
});

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function readURL2(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image2').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function soloNumeros(e) {
  var key = window.Event ? e.which : e.keyCode;
  return ((key >= 48 && key <= 57) || e.keyCode == 9 || e.keyCode == 46)
}

function marcarTipo(){
    $('#id_tipo').val($('#tipo_s').val())
}
</script>
 {% endblock js %}
