{% extends 'dashboard/ini_sesion.html' %}

{% block center %}

<h4 style="text-align: center">Su contraseña se reestableció correctamente</h4>
<a href="/dashboard" class="btn btn-block" style="margin: 20px 0 !important;">Ingresar</a>

{% endblock %}