{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block content %}
 <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
     <div class="row" style="margin-top: 50px;">
        {% block card %}
        <input type="hidden" name="user" id="user" value="{{user.id}}">
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">{% block title %}Mensaje{% endblock title %}</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <label>De: </label>
                            {{mensaje.nombre}} {{mensaje.apellido}}
                        </div>
                        <div class="col-md-12">
                            <label>Correo: </label>
                            {{mensaje.correo}}
                        </div>
                        <div class="col-md-12">
                            <label>Mensaje: </label>
                            {{mensaje.mensaje}}
                        </div>
                        <div class="col-md-12">
                            <label>Mensaje: </label>
                            <p>{{mensaje.mensaje}}</p>
                        </div>
                        <div class="col-md-12">
                            <label>Respuesta: </label>
                            <input type="hidden" name="id_msj" id="id_msj" value="{{mensaje.id_mensaje}}">      
                            <textarea class="form-control border-radius" rows="5" id="respuesta"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="text-center">
                    <button type="button" class="btn" id="submitresponder" style="border-radius: 20px !important;">Enviar Respuesta</button>
                </div>
            </div>
            </div>
            {% endblock card%}
        </div>     
    </div>
 </div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
jQuery(document).ready(function ($) {
    $("#submitresponder").click(function (){
        if(validarCampos()){
            $.ajax({
                url: '/dashboard/responder/',
                type: 'POST',
                data: {
                        id:$("#id_msj").val(),
                        usuario:$("#user").val(),
                        respuesta:$("#respuesta").val(),
                     },
                dataType: 'json',
                success: function(msj) {
                    alert(msj.mensaje);
                     setTimeout(function(){ window.location='/dashboard/listarmsj' }, 3000);
                }
            });
        }
    });
});

function validarCampos(){
    return true;
}
</script>
 {% endblock js %}
