{% extends 'dashboard/ini_sesion.html' %}
{% load static %}

{% block center %}
<form class="form-signin" method="post">
            {% csrf_token %}
                <p class="text-center" style="font-size: 10px;">Ingresa tu correo electronico y te enviaremos las instrucciones <br> para restaurar tu contraseña</p>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input id="id_email" name="email" type="email" class="form-control" placeholder="Email address" required autofocus style="margin-bottom: 10px;">
                <input class="btn btn-block" type="submit" value="RESTABLECER CONTRASEÑA" style="margin: 20px 0 !important;"/>
          </form>

{% endblock %}