{% extends 'website/servicio.html' %}
{% load static %}

{% block servicio %}Puerta a Puerta{% endblock servicio %}

{% block banner %}
<img src="{{encabezado}}" class="img-responsive" alt="servicio puerta">
{% endblock banner %}    
                
{% block parrafo %}
<p>{{texto}}</p>
{% endblock parrafo %}
                
{% block imagen-servicio %}
<img src="{{imagen}}" class="img-responsive" alt="servicio">
{% endblock imagen-servicio %}
