{% load static %}
<!-- main imagen -->
<div class="main-img">
    <div class="main-thing">
        <img class="main-img text-center" alt="Main" src="{% static '/images/banner2.jpg' %}">
        <img class="video-banner" src="{% static '/images/icons/icon-banner.png' %}" data-toggle="tooltip" title="Click me!">
        <h1 id="logistica">LOGISTICA <br> HECHA SIMPLE</h1>
    </div>
    <video id="video-main" width="530" height="260" controls>
        <source src="{% static '/videos/test.mp4' %}" type="video/mp4">
    </video>
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script>
jQuery(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('#video-main').hide();
    $('.video-banner').click(function () {
        $('#video-main').show();
        $('#video-main').get(0).play();
    });
    $('#video-main').on('ended',function () {
            $(this).hide();
        })
    $(document).on("scroll",function(){
        document.getElementById('video-main').pause();
        $('#video-main').hide();

    });
});
    $('.video-banner').mouseenter(function() {
        $(this).addClass('animated rotateIn');
    });
</script>