{% load static %}
<div class="container" style="margin-top: 50px">
    <div class="titulo text-center">
        <h1>NUESTROS CLIENTES</h1>
        <p>Mantente al día con nuestras noticiass</p>
    </div>
    <div class="flexslider">
        <ul class="slides">
            {% for l in logos %}
            <li><img src="/media/{{l.imagen}}"  style="width: 280px; height: 208px"/></li>
            {% endfor %}
        </ul>
    </div>
</div>