{% load static %}
        <div class="container" style="padding-top: 10px">
            <!-- TITULO -->
            <div class="titulo text-center" style="margin-bottom: 20px">
                <h1>CONTACTANOS</h1>
                <p>Llena tu formulario de preguntas y respuestas</p>
            </div>
            <!-- CONTENIDO -->
            <div class="row" id="contactanos">
                <!-- IMAGEN DE FONDO -->
                <img class="text-center fondo-contactos" src="{% static '/images/fondo-contactanos.png' %}" width="800px;" style="position: absolute; z-index:1; left: 43px;" height="480px">
                <!-- FORMULARIO -->
                <div class="col-md-6 col-sm-6" id="formulario-contactanos" style="padding: 30px; z-index: 100">
                    <form id="form-contacto" method="post" enctype="multipart/form-data">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control border-radius" id="nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control border-radius" id="apellido">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control border-radius" id="email">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="mensaje">Mensaje</label>
                            <textarea class="form-control border-radius" rows="5" id="mensaje"></textarea>
                        </div>
                        <p class="col-md-12" style="color: #ffffff;">
                            Lunes a Viernes <br> de 9:00am a 6:00pm
                            <button id="submitcontacto" type="button" class="btn border-radius pull-right" style="border: 1px solid #ffffff; color: #ffffff; background-color: #111633; padding: 6px 30px; margin-top: -10!important;">Enviar</button>
                        </p>

                    </form>
                    <p style="color: white;"><i><strong>ESTADOS UNIDOS</strong> +1 (768) 703 3107</i></p>
                    <p style="color: white;"><i><strong>VENEZUELA</strong> +58 (212) 335 458</i></p>
                </div>
                <!-- GOOGLE MAPS -->
                <div class="col-md-6 col-sm-6" style="z-index:0; background-color: #fafafa">
                    <div id="map" style="width:560px; height:480px"></div>
                </div>
            </div>
        </div>

{% block js %}
    <script type="text/javascript">
jQuery(document).ready(function ($) {
    $("#submitcontacto").click(function (){
        if(validarCampos()){
            $.ajax({
                url: '/contacto/',
                type: 'POST',
                data: {
                        nombre:$("#nombre").val(),
                        apellido:$("#apellido").val(),
                        correo:$("#email").val(),
                        mensaje:$("#mensaje").val(),
                     },
                dataType: 'json',
                success: function(msj) {
                    alert(msj.mensaje)


                }
            });
        }
    });
});

function validarCampos(){
    return true;
}

</script>
{% endblock js %}