{% load static %}
<div class="container" id="montacar" style="margin-top: 50px">
    <!-- TITULO -->
    <div class="titulo text-center" style="margin-bottom: 20px">
        <h1>ESTIMADOR DE COSTOS</h1>
        <p>Enviamos tu mercancia de manera rapida y segura.</p>
    </div>
    <!-- CONTENDIO -->
    <div class="row" style="padding-top: 20px;">
        <!-- imagen de MONTACARGAS -->
        <div class="col-md-6">
            <div class="montacargas">
                <p class="text-center">Si ya conoces las medidas de tu carga usa nuestra calculadora <br> para obtener un estimado aproximado del costo</p>
                <img src="{% static 'images/montacarga.jpg' %}"  id="montacarga" width="75%" style="position: absolute">
                <img class="icono-estimador" src="{% static '/images/icons/icon-estimador.png' %}" data-toggle="tooltip" title="Click me!">
            </div>
            <video id="video-estimador" width="530" height="260" controls>
                <source src="{% static '/videos/test.mp4' %}" type="video/mp4">
            </video>
        </div>
        <!-- "CALCULADORA" del estimador -->
        <div class="col-md-6">
            <!-- TABS -->
            <ul class="nav nav-tabs nav-justified">
                <li id="tab_aereo">
                    <a data-toggle="tab" href="#aereo" class="border-radius">
                        <img src="{% static '/images/icons/aire_blanco.png' %}" alt="Servicio Aereo" style="cursor: pointer"  data-toggle="tooltip" title="ESTIMADOR AEREO">
                    </a>
                </li>
                <li id="tab_mar">
                    <a data-toggle="tab" href="#maritimo" class="border-radius">
                        <img src="{% static '/images/icons/mar_blanco.png' %}" alt="Servicio Maritimo" style="cursor: pointer" data-toggle="tooltip" title="ESTIMADOR MARITIMO">
                    </a>
                </li>
            </ul>
            <!-- CONTENIDO DE LOS TABS -->
            <div class="tab-content">
                <!-- Tab Servicio Aereo -->
                <div id="aereo" class="tab-pane active">
                    <div class="" style="background-color: #59bf8f; padding: 30px;">
                        <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="origen_aereo">Origen</label>
                                        <select class="form-control border-radius" id="origen_aereo">
                                            <option>Canada</option>
                                            <option>Miami</option>
                                            <option>España</option>
                                            <option>Panama</option>
                                            <option>Chile</option>
                                        </select>
                                    </div>
                                </div>
                        <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="destino_aereo">Destino</label>
                                        <select class="form-control border-radius" id="destino_aereo">
                                            <option>Venezuela</option>
                                            <option>Colombia</option>
                                            <option>Peru</option>
                                            <option>Argentina</option>
                                        </select>
                                    </div>
                                </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="peso_aereo">Peso</label>
                                <input type="number" min="0" class="form-control border-radius" id="peso_aereo">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="largo_aereo">Largo</label>
                                <input type="number" min="0" class="form-control border-radius" id="largo_aereo">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="alto_aereo">Alto</label>
                                <input type="number" min="0" class="form-control border-radius" id="alto_aereo">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="ancho_aereo">Ancho</label>
                                <input type="number" min="0" class="form-control border-radius" id="ancho_aereo">
                            </div>
                        </div>
                        <div class="form-inline text-center" style="margin: 30px 0;">
                            <div class="btn btn-md border-radius" onclick="sum()" id="calc_aereo">Calcular</div>
                            <div class="form-group" style="display: inline-block">
                                <label for="total_aereo">Total</label>
                                <input type="text" class="form-control border-radius" id="total_aereo" style="margin: 0 15px;" disabled>
                            </div>
                            <div class="btn btn-md border-radius" id="calc_aereo">Procesar</div>
                        </div>
                    </div>
                </div>
                <!-- Tab Servicio Maritimo -->
                <div id="maritimo" class="tab-pane">
                    <div class="" style="background-color: #111633; padding: 30px;">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="origen_mar">Origen</label>
                                <select class="form-control border-radius" id="origen_mar">
                                    <option>Canada</option>
                                    <option>Miami</option>
                                    <option>España</option>
                                    <option>Panama</option>
                                    <option>Chile</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="destino_mar">Destino</label>
                                <select class="form-control border-radius" id="destino_mar">
                                    <option>Venezuela</option>
                                    <option>Colombia</option>
                                    <option>Peru</option>
                                    <option>Argentina</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="peso_mar">Peso</label>
                                <input type="number" min="0" class="form-control border-radius" id="peso_mar">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="largo_mar">Largo</label>
                                <input type="number" min="0" class="form-control border-radius" id="largo_mar">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="alto_mar">Alto</label>
                                <input type="number" min="0" class="form-control border-radius" id="alto_mar">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="ancho_mar">Ancho</label>
                                <input type="number" min="0" class="form-control border-radius" id="ancho_mar">
                            </div>
                        </div>
                        <div class="form-inline text-center" style="margin: 30px 0;">
                            <div class="btn btn-md border-radius" id="calc_mar" onclick="sum()">Calcular</div>
                            <div class="form-group" style="display: inline-block">
                                <label for="total_mar">Total</label>
                                <input type="text" class="form-control border-radius" id="total_mar" style="margin: 0 15px;" disabled>
                            </div>
                            <div class="btn btn-md border-radius" id="calc_mar">Procesar</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--div class="text-center" id="verfunciona">
                <img src="{% static 'images/youtb.png' %}" alt="video" width="10%">Ver como funciona
            </div-->
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script>
jQuery(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('#video-estimador').hide();
    $('.icono-estimador').click(function () {
        $('#video-estimador').show();
        $('#video-estimador').get(0).play();
    });
    $('#video-estimador').on('ended',function () {
        $(this).hide();
    })
    $(document).on("scroll",function(){
        document.getElementById('video-estimador').pause();
        $('#video-estimador').hide();

    });
    var target = $('#montacar').offset().top;
    $(window).scroll(function () {
        if ($(window).scrollTop() >= target && ($(window).width() > 420))
            $('#montacarga').animate({
                left: '130px'
            });
    });
});
</script>