{% load static %}
<style>
   .pie_index > a, .pie_index > a:active, .pie_index > a:link,.pie_index > a:visited{color: #fff !important}
</style>
<div class="container-fluid" id="pie_pagina" style="background-color: #111633; color: white; padding-top: 20px">
    <div class="row">
        <div class="container" style="margin-bottom: 20px">
            <!-- REDES -->
            <div class="col-xs-12" style="margin: 20px 0;">
            <!-- LOGO -->
                <div class="logo-footer"><img src="{% static 'images/log2.png' %}" width="200px"></div>
            <!-- REDES -->
                <div class="redes-footer pull-right">
                    <ul class="redes-footer">
                        <li class="redes-footer"><a href=""><img src="{% static 'images/icons/footer-fb.png' %}" alt=""></a></li>
                        <li class="redes-footer"><a href=""><img src="{% static 'images/icons/footer-twt.png' %}" alt=""></a></li>
                        <li class="redes-footer"><a href=""><img src="{% static 'images/icons/footer-inst.png' %}" alt=""></a></li>
                        </ul>
                </div>

            </div>
            <!-- COLUMNAS -->
            <div class="col-sm-1 col-xs-12 ">
                <ul class="no-padding">
                    <li class="pie_index"><strong>Usuarios</strong></li>
                    <li class="pie_index"><a href="">Perfil</a></li>
                    <li class="pie_index"><a href="{% url 'registro' %}">Registro</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-12 ">
                <ul class="no-padding">
                    <li class="pie_index"><strong>Costos y tarifas</strong></li>
                    <li class="pie_index"><a href="">Estimador</a></li>
                    <li class="pie_index"><a href="">Shop &amp order</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12 ">
                <ul class="no-padding">
                    <li class="pie_index"><strong>Servicios</strong></li>
                    <li class="pie_index"><a href="">Aereo</a></li>
                    <li class="pie_index"><a href="">Maritimo</a></li>
                    <li class="pie_index"><a href="">Almacenamineto y re-empaque</a></li>
                    <li class="pie_index"><a href="">Puerta a puerta</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-12 ">
                <ul class="no-padding">
                    <li class="pie_index"><strong>Ayuda</strong></li>
                    <li class="pie_index"><a href="">Devoluciones</a></li>
                    <li class="pie_index"><a href="">Guia de uso</a></li>
                    <li class="pie_index"><a href="">Preguntas frecuentes</a></li>
                    <li class="pie_index"><a href="">Acerca de</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-12 pull-right">
                <ul class="no-padding">
                    <li class="pie_index"><a href=""><strong>CONTACTO@PACK-FORWARD.COM</strong></a></li>
                    <li class="pie_index"><a href=""><strong>ESTADOS UNIDOS</strong> +1 (768) 703 3107</a></li>
                    <li class="pie_index"><a href=""><strong>VENEZUELA</strong> +58 (212) 335 4588</a></li>
                    <li class="pie_index"><a href=""><strong>11251 NW 20TH ST. UNIT #114</strong></a></li>
                    <li class="pie_index"><a href=""><strong>SWEATWATER, FLORIDA. 33172, USA.</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>