{%load static%}
<!-- header -->
<div class="wrapper" style="z-index: 2000">
    <!--MENU MOVIL -->
    <div class="navbar navbar-fixed-top" id="navbar_movil" role="navigation" style="background-color: white; display: none">
        <div class="container">
            <!-- CABECERA -->
            <div class="navbar-header" style="display: inline-block;">
                <!-- LOGO -->
                <a class="navbar-brand"><img alt="Brand" src="{% static '/images/logopf.png' %}" width="80px"></a>
                <!-- DATOS DEL USER -->
                <div id="barra_movil" style="float: left;">
                    {% if user.id %}
                    <!--IMAGEN USER -->
                    <div class="usuario_logeado navbar-text" style="display: inline-block;">
                        {% if request.session.imagen == "" %}
                        <img src="{% static 'images/user_log.png' %}" alt="" style="display: inline-block;"> {% else %}
                        <img src="{{request.session.imagen}}" style="display: inline-block;max-width: 30px;max-height: 30px;border-radius: 50px; height: 30px; width: 30px"
                            alt=""> {% endif %}
                    </div>
                    <!--CAJA DEL USER -->
                    <div class="caja navbar-text" style="width: 50px!important; margin-top: 15px; margin-right: 0; display: inline-block;">
                        <a href="" style="margin: 15px 0 0 0; padding: 0;">
                        <img src="{% static 'images/icons/bluebox.png' %}" alt="" class="navbar-text bluebox">
                    </a>
                        <!-- NOTIFICACIONES -->
                        <p class="notifiacion text-center">99</p>
                    </div>
                    {% endif %}
                    <!-- MENU COLAPSABLE -->
                    <button type="button" class="navbar-toggle collapsed" data-target="#navbar" id="menu_movil" data-toggle="collapse" aria-expanded="false"
                        aria-controls="navbar" style="margin-left: 12px !important; margin-right: 6px !important;">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if not user.id %}
                    <li>
                        <a href="#" class="login-color titulos" id="iniciar_movil" style="color: #333649">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                    <span class="sr-only">Iniciar Sesion</span>
                                    INICIAR SESION
                                </a>
                    </li>
                    <li>
                        <a href="{% url 'registro' %}#registro" class="login-color titulos" id="registrar_movil" style="color: #333649">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    <span class="sr-only">Registrarse</span>
                                    REGISTRARSE
                                </a>
                    </li>
                    {% endif %}
                    <!-- MENU -->
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'servicios' %}#servicios">SERVICIOS</a></li>
                    <li><a href="{% url 'nosotros' %}#nosotros">NOSOTROS</a></li>
                    <li><a href="{% url 'informacion' %}#informacion">INFORMACION</a></li>
                    <li><a href="#pie_pagina">CONTACTANOS</a></li>
                </ul>
            </div>
            <div class="nav navbar-form">
                <form action="" style="width: 250px; margin-bottom: 2px">
                    <div class="form-group">
                        <input type="text" id="buscador_movil" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <!--MENU SECUNDARIO *EL QUE APARECE LUEGO DEL SCROLL -->
    <div class="navbar navbar-fixed-top" id="navbar_secundario" role="navigation" style="background-color: #111633; color: white; display: none">
        <div class="container">
            <!--CABECERA -->
            <div class="navbar-header" style="display: inline-block;">
                <!-- LOGO -->
                <a class="navbar-brand"><img alt="Brand" src="{% static '/images/log2.png' %}" width="185px"></a>
                <!-- BUSCADOR -->
                <div class="navbar-form navbar-left" style="display: inline-block">
                            <form action="" style="width: 202px; margin: 0 !important;">
                                <div class="form-group" style="margin-top: 2px!important;">
                                    <input type="text" id="buscador_secundario" class="form-control" placeholder="Search">
                                </div>
                            </form>
                        </div>
            </div>
            <!--MENU COLAPSABLE -->
            <div class="navbar-right" id="nueva_barra" style="height:50px!important;">
                {% if user.id %}
                <!--CAJA DEL USUARIO -->
                <div class="caja navbar-text" style="margin-top: 15px; display: inline-block;">
                    <a href="" style="margin: 15px 0 0 0; padding: 0;">
                        <img src="{% static 'images/icons/whtbox.png' %}" alt="" class="navbar-text bluebox">
                    </a>
                    <p class="notifiacion text-center">99</p>
                </div>
                <!--DATOS USUARIOS -->
                <div class="usuario_logeado navbar-text" style="display: inline-block;">
                    <p style="display: inline-block" id="nombre_user">{{user.username}}</p>
                    {% if request.session.imagen == "" %}
                            <img src="{% static 'images/user_log.png' %}" style="display: inline-block;" alt="">
                        {% else %}
                            <img src="{{request.session.imagen}}" alt="" style="display: inline-block;max-width: 30px;max-height: 30px;border-radius: 50px; height: 30px; width: 30px">
                        {% endif %}
                </div>
                {% endif %}
                <!-- Derecha -->
                {% if not user.id %}
                <ul class="nav navbar-nav inicio-sesion">
                    <li>
                        <a href="#" id="iniciar_dos" class="titulos">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            <span class="sr-only">Iniciar Sesion</span> INICIAR SESION
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'registro'%}#registro" class="titulos" id="registrar_dos">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="sr-only">Registrarse</span> REGISTRARSE
                        </a>
                    </li>
                </ul>
                {% endif %}
                <button type="button" class="navbar-toggle collapsed" id="menu_nav" data-toggle="dropdown" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                <!--MENU MOVIL -->
                <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'index' %}">HOME</a></li>
                            <li><a href="{% url 'servicios' %}#servicios">SERVICIOS</a></li>
                            <li><a href="{% url 'nosotros' %}#nosotros">NOSOTROS</a></li>
                            <li><a href="{% url 'informacion' %}#informacion">INFORMACION</a></li>
                            <li><a href="#pie_pagina">CONTACTANOS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--MENU PRINCIPAL -->
    <nav class="navbar navbar-fixed-top" id="navbar_principal" role="navigation" style="background-color: white;">
        <div class="container">
            <!-- CABECERA -->
            <div class="navbar-header" style="height: 50px;" id="cabecera">
            <!--MENU COLAPSABLE -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar" aria-expanded="false" aria-controls="navbar" style="display: none !important;">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <a class="navbar-brand"><img alt="Brand" src="{% static '/images/logo.png' %}" width="185px"></a>
                <!-- Izquierda -->
                <div class="navbar-form navbar-left">
                    <!-- BUSCADOR -->
                    <form action="" style="width: 202px;">
                        <div class="form-group">
                            <input type="text" id="buscador" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
            <!-- NAV-Collapse -->
            <div id="topFixedNavbar" class="collapse navbar-collapse">
                <!-- Derecha -->
                {% if not user.id %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="login-color titulos" id="iniciar" style="color: #333649">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                    <span class="sr-only">Iniciar Sesion</span> INICIAR SESION
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'registro'%}#registro" class="login-color titulos" id="registrar" style="color: #333649">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="sr-only">Registrarse</span> REGISTRARSE
                        </a>
                    </li>
                </ul>
                {% endif %}
                <!-- Menu -->
                <ul class="nav navbar-nav" style="height: 50px;">
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'servicioss' %}#servicios">SERVICIOS</a></li>
                    <li><a href="{% url 'nosotros' %}#nosotros">NOSOTROS</a></li>
                    <li><a href="{% url 'informacion' %}#informacion">INFORMACION</a></li>
                    <li><a href="#pie_pagina">CONTACTANOS</a></li>
                    {% if user.id %}
                    <li id="li_caja">
                        <!--CAJA -->
                        <div class="caja" style="margin-top: 13px">
                            <a href="" style="margin: 15px 0 0 0; padding: 0;">
                                <img src="{% static 'images/icons/bluebox.png' %}"  alt="" class="navbar-text bluebox">
                            </a>
                            <!--notifiacion -->
                            <p class="notifiacion text-center">99</p>
                        </div>
                    </li>
                    <li class="usuario_logeado navbar-text" style="display: inline-block;">
                        <p style="display: inline-block" id="nombre_user">{{user.username}}</p>
                        {% if request.session.imagen == "" %}
                                <img src="{% static 'images/user_log.png' %}" style="display: inline-block;" alt="">
                            {% else %}
                                <img src="{{request.session.imagen}}" alt="" style="display: inline-block;max-width: 30px; max-height: 30px;border-radius: 50px; height: 30px; width: 30px">
                            {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!--TABLA PREVISTA DE LA CAJA DE COMPRAS -->
    <div class="table-responsive previa" style="display: none; z-index: 2000">
        <table class="table table-hover" id="tabla">
            <tbody>
                <tr>
                    <th>
                        <img src="{% static 'images/a1.png' %}" width="30%" alt="" class="img-thumbnail" style="display: inline-block">
                        <div class="producto" style="display: inline-block">
                            <p>Reloj Pebble time</p>
                            <a class="enlances_detalle"  href="{% url 'detalle' %}" style="display: block">detalle del producto</a>
                        </div>
                    </th>
                    <th>
                        <p>$320.00</p>
                    </th>
                    <th><span class="glyphicon glyphicon-remove"></span></th>
                </tr>
                <tr>
                    <th>
                        <img src="{% static 'images/a2.png' %}" width="30%" alt="" class="img-thumbnail" style="display: inline-block">
                        <div class="producto" style="display: inline-block">
                            <p>Reloj Pebble time</p>
                            <a class="enlances_detalle"  href="{% url 'detalle' %}" style="display: block">detalle del producto</a>
                        </div>
                    </th>
                    <th>
                        <p>$320.00</p>
                    </th>
                    <th><span class="glyphicon glyphicon-remove"></span></th>
                </tr>
                <tr>
                    <th>
                        <img src="{% static 'images/a3.png' %}" width="30%" alt="" class="img-thumbnail" style="display: inline-block">
                        <div class="producto" style="display: inline-block">
                            <p>Reloj Pebble time</p>
                            <a class="enlances_detalle" href="{% url 'detalle' %}" style="display: block">detalle del producto</a>
                        </div>
                    </th>
                    <th>
                        <p>$320.00</p>
                    </th>
                    <th><span class="glyphicon glyphicon-remove"></span></th>
                </tr>
            </tbody>
        </table>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <a href="#" class="btn btn-agregar" type="button" style="float: left">MI CAJA</a>
            </div>
            <div class="col-xs-6">
                <a href="{% url 'compra' %}" class="btn btn-comprar" type="button" style="float: right">COMPRAR</a>
            </div>
        </div>
    </div>
    <!--MENU LOGIN -->
    <div class="login" id="login" style="z-index: 2000">
        <p style="margin-top: 10px;"><h4>INICIA SESIÓN</h4> O bien <br> <a href="{% url 'registro' %}#registro">crea una cuenta</a></p>
        <form method="post" action="/login/">
        {% csrf_token %}
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="inputUser" name="username" class="form-control" placeholder="Username" required autofocus style="margin-bottom: 10px; text-indent: 22px;">

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required style="margin-bottom: 10px; text-indent: 22px;">

            <div class="checkbox" style="font-size: 10px;">
                <label><input type="checkbox" value="">Recuerdame</label>
                <a href="/reset/password_reset" class="text-right">¿Olvidaste tu contraseña?</a>
            </div>
            {% if messages %}
                        {% for message in messages %}
                            <h6 style="color: red;">{{ message }}</h6>
                        {% endfor %}
                    {% endif %}
            <button id="iniciar-btn" type="submit" class="btn">INICIAR SESION</button>
        </form>
    </div>
    <!--PREVISTA USUARIO -->
    <div class="contenedor-user text-center" style="z-index: 2000; display: none;">
        {% if request.session.imagen == "" %}
            <img src="{% static 'images/user_log.png' %}" width="80px" height="80px" style="border-radius: 50%;">
        {% else %}
            <img src="{{request.session.imagen}}" width="80px" height="80px" style="border-radius: 50%;">
        {% endif %}
        <div class="text-center">
            <p>{{user.username}}</p>
            <a href="/perfil/{{user.id}}#perfil_" class="btn btn-usuario">Editar perfil</a>
            <a href="/salir" class="btn btn-usuario">Cerrar Sesión</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/submenus.js' %}"></script>

