{% load static %}
<style>    
    .thumbnail > img,
    .thumbnail a > img {
        max-height: 200px!important;
        max-width: 350px!important;
        min-height: 200px;
        min-width: 350px;
    }
    @media (max-width: 768px){
        .thumbnail > img, .thumbnail a > img {
            max-height: 200px !important;
            max-width: 200px !important;
            min-height: 200px !important;
            min-width: 200px !important;
        }
    }
</style>
<div class="titulo text-center" style="margin-top: 50px;">
    <!-- TITULO -->
    <div class="titulo titulo-noticias text-center" style="display: inline-block; margin-left: 170px;">
        <h1>NOTICIAS</h1>
        <p>Mantente al día con nuestras noticias</p>
    </div>
    <img src="{% static 'images/logopack.png' %}" id="logo-noticias">
</div>
<div class="container" style="background-color: #f7f7f7; margin-top: 20px">
    <div class="row" style="margin-top: 20px">
    {% for n in noticias %}
        <div class="col-md-4 col-sm-4">
            <div class="thumbnail  border-radius">
                <img src="/media/{{n.imagen}}" alt="..." height="200px" width="350px">
                <div class="caption">
                    <h3 style="text-transform: uppercase!important; max-height: 52px; min-height: 52px;">{{n.titulo|slice:"0:19"}}...</h3>
                    <p style="max-height: 70px; min-height: 70px;">{{n.contenido_sec1|slice:"0:100"}}...</p>
                    <p><a href="{% url 'noticias' n.id_noticia %}#noticias" class="btn btn-comprar border-radius" role="button" style="border: 1px solid #111633; color: #111633;">VER MÁS</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>