{% load static %}
<div class="container-fluid">
    <div class="row" style=" background-color: #f7f7f7; padding: 20px 0 ;">
        <div class="col-md-12 text-center">
            <img src=""  style="display: inline-block" alt="">
            <h3 style="display: inline-block">RASTREA TU PEDIDO</h3>
            <form action="" class="form-inline"  style="display: inline-block">
                <div class="form-gropu">
                    <input class="form-control" id="num_tracking" type="text" placeholder="Su Número" required style="box-shadow: 1px 1px 1px #bfbfbf; width: 60% !important;     display: inline-block;">
                    <button class="btn" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>