{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 servicios" id="serv_aereo" style="background-color: #59bf8f;">
            <div class="serv_aereo">
                <a href="{% url 'servicios' %}#serv-aereo"><img src="{% static '/images/icons/serv-aereo.png' %}" alt="Servicio Aereo"></a>
            </div>
            <div class="tipo-serv">
                <a href="{% url 'servicios' %}#serv-aereo" class="enlace_servicio"><p>CARGA <br> AÉREA</p></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 servicios" id="serv_maritimo" style="background-color: #111633;">
            <div class="serv_marit" >
                <a href="{% url 'servicios' %}#serv-maritimo"><img src="{% static '/images/icons/serv-marit.png' %}" alt="Servicio Maritimo" ></a>
            </div>
            <div class="tipo-serv">
                <a href="{% url 'servicios' %}#serv-maritimo" class="enlace_servicio"><p>CARGA <br> MARÍTIMA</p></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 servicios" id="serv_almacenar" style="background-color: #fdc300">
            <div class="serv_almac" >
                <a href="{% url 'servicios' %}#serv-almacen"><img src="{% static '/images/icons/almacen.png' %}" alt="Servicio"></a>
            </div>
            <div class="tipo-serv">
                <a href="{% url 'servicios' %}#serv-almacen" class="enlace_servicio"><p>ALMACENAMIENTO <br> Y RE-EMPAQUE</p></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 servicios" id="serv_puerta" style="background-color: #cfcfcf; ">
            <div class="serv_pta">
                <a href="{% url 'servicios' %}#serv-puerta-a-puerta"><img src="{% static '/images/puerta.png' %}" alt="servicio"></a>
            </div>
            <div class="tipo-serv">
                <a href="{% url 'servicios' %}#serv-puerta-a-puerta" class="enlace_servicio"><p>PUERTA A PUERTA <br>  (solo a Venezuela)</p></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
       $('.serv_aereo').mouseenter(function() {
            $(this).effect('bounce',1000);
        });
       $('.serv_marit').mouseenter(function() {
            $(this).effect('bounce',1000);
        });
       $('.serv_almac').mouseenter(function() {
            $(this).effect('bounce',1000);
        });
       $('.serv_pta').mouseenter(function() {
            $(this).effect('bounce',1000);
        });
    });
</script>