{% load static %}
<style>
    .a,
    .a:active,
    a:link,
    a:visited {
        color: #111633;
    }
</style>
<div class="container" style="margin-top: 50px">
    <!-- TITULO -->
    <div class="titulo text-center" style="margin-bottom: 20px">
        <h1>SHOP &amp ORDER</h1>
        <p>Selecciona los articulos que deseas comprar y <br> nosotros nos encargaremos del resto</p>
    </div>
    <!-- CONTENIDO -->
    <div class="categorias">
        <!-- PARTE UNO DE LAS CATEGORIAS -->
        <div class="row row-categorias" style="margin: 0 6%">
            <button class="btn btn-default box-cat col-md-3 col-sm-3 col-xs-6" id="categ_electro">
                <img src="{% static 'images/icons/electronicos.png' %}" alt="Electronicos">
                <p class="categ" id="electros">Electronicos</p>
            </button>
            <button class="btn btn-default box-cat col-md-3 col-sm-3 col-xs-6" id="categ_ropa">
                <img src="{% static 'images/icons/ropa.png' %}" alt="Ropa">
                <p class="categ" id="ropa">Ropa y accesorios</p>
            </button>
            <button class="btn btn-default box-cat col-md-3 col-sm-3 col-xs-6" id="categ_cocina">
                <img src="{% static 'images/icons//cocina.png' %}" alt="Cocina">
                <p class="categ" id="cocina">Equipos de cocina</p>
            </button>
            <button class="btn btn-default box-cat col-md-3 col-sm-3 col-xs-6" id="categ_veh">
                <img src="{% static 'images/icons/automotrices.png' %}" alt="Vehiculos">
                <p class="categ" id="automotris">Partes automotrices</p>
            </button>
        </div>
        <!-- PARTE DOS DE LAS CATEGORIAS -->
        <div class="row row-categorias" style="margin: 0 6%">
            <button class="btn btn-default box-cat col-md-3 col-sm-3 col-xs-6" id="categ_comestible">
                <img src="{% static 'images/icons/comestibles.png' %}" alt="Comestibles">
                <p class="categ" id="salud">Comestibles y salud</p>
            </button>
            <button class="btn btn-default box-cat col-md-3 col-sm-3 col-xs-6" id="categ_limpieza">
                <img src="{% static 'images/icons/limpieza.png' %}" alt="Limpieza">
                <p class="categ" id="limpz">Articulos de limpieza</p>
            </button>
            <button class="btn btn-default box-cat col-md-3 col-sm-3 col-xs-6" id="categ_cuidado">
                <img src="{% static 'images/icons/cuidado_pers.png' %}" alt="Cuidado Personal">
                <p class="categ" id="personal">Cuidado personal</p>
            </button>
            <button class="btn btn-default box-cat col-md-3 col-sm-3 col-xs-6" id="categ_industrial">
                <img src="{% static 'images/icons/industrial.png' %}" alt="Equi. Industriales">
                <p class="categ" id="indust">Equipos industriales</p>
            </button>
        </div>
        <hr id="separador" style="background-color: #59bf8f; height: 2px;">
        <!-- PARTE UNO DE LAS IMAGENES -->
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 compra">
                <!-- PARTE IMAGEN DEL ARTICULO -->
                <div class="box-img text-center">
                    <img src="{% static 'images/iphone.png' %}" alt="producto" width="134" height="134">
                </div>
                <!-- PARTE DE INFORMACION -->
                <div class="box-articulo">
                    <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block; font-size: 19px; font-weight: bold;">Precio: 300$</p>
                    <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 compra">
                <!-- PARTE IMAGEN DEL ARTICULO -->
                <div class="box-img text-center">
                    <img src="{% static 'images/producto5.png' %}" alt="producto" width="134px" height="134">
                </div>
                <!-- PARTE DE INFORMACION -->
                <div class="box-articulo">
                    <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block; font-size: 19px; font-weight: bold;">Precio: 300$</p>
                    <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 compra">
                <a href="{% url 'detalle' %}#detalle_producto">
                    <!-- PARTE IMAGEN DEL ARTICULO -->
                    <div class="box-img text-center">
                        <img src="{% static 'images/producto3.jpg' %}" alt="producto" width="134px" height="134">
                    </div>
                    <!-- PARTE DE INFORMACION -->
                    <div class="box-articulo">
                        <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block; font-size: 19px; font-weight: bold;">Precio: 300$</p>
                        <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 compra">
                <!-- PARTE IMAGEN DEL ARTICULO -->
                <div class="box-img text-center">
                    <img src="{% static 'images/producto2.jpg' %}" alt="producto" width="134px" height="134">
                </div>
                <!-- PARTE DE INFORMACION -->
                <div class="box-articulo">
                    <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block; font-size: 19px; font-weight: bold;">Precio: 300$</p>
                    <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                </div>
            </div>
        </div>
        <!-- PARTE DOS DE LAS IMAGENES -->
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 compra">
                <!-- PARTE IMAGEN DEL ARTICULO -->
                <div class="box-img text-center">
                    <img src="{% static 'images/productos.jpg' %}" alt="producto" width="134px" height="134">
                </div>

                <!-- PARTE DE INFORMACION -->
                <div class="box-articulo">
                    <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block; font-size: 19px; font-weight: bold;">Precio: 300$</p>
                    <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 compra">
                <!-- PARTE IMAGEN DEL ARTICULO -->
                <div class="box-img text-center">
                    <img src="{% static 'images/producto2.jpg' %}" alt="producto" width="134px" height="134">
                </div>
                <!-- PARTE DE INFORMACION -->
                <div class="box-articulo">
                    <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block; font-size: 19px; font-weight: bold;">Precio: 300$</p>
                    <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 compra">
                <!-- PARTE IMAGEN DEL ARTICULO -->
                <div class="box-img text-center">
                    <img src="{% static 'images/producto5.png' %}" alt="producto" width="134px" height="134">
                </div>
                <!-- PARTE DE INFORMACION -->
                <div class="box-articulo">
                    <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block; font-size: 19px; font-weight: bold;">Precio: 300$</p>
                    <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 compra">
                <!-- PARTE IMAGEN DEL ARTICULO -->
                <div class="box-img text-center">
                    <img src="{% static 'images/producto3.jpg' %}" alt="producto" width="134px" height="134">
                </div>
                <!-- PARTE DE INFORMACION -->
                <div class="box-articulo">
                    <h4 style="max-height: 40px; min-height: 40px;"><strong>Nombre del producto</strong></h4>
                    <p style="display: inline-block; font-size: 19px; font-weight: bold;">Precio: 300$</p>
                    <img src="{% static 'images/icons/greybox.png' %}" alt="grey box" class="greybox">
                </div>
            </div>
        </div>
        <!-- boton de ver mas -->
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="{% url 'listado' %}" class="btn btn-lg btn-comprar">VER MAS</a>
            </div>
        </div>
    </div>
</div>