{% load static %}
<div class="container-fluid" id="testimoniales" style="background-color: #59bf8f;">
    <!-- TITULO -->
    <div class="titulo text-center">
        <h1 style="color: white; margin-botton: 30px; margin-top: 50px;">TESTIMONIALES</h1>
    </div>
    <!-- SLIDER -->
    <ul class="bxslider">
        {% for t in testimoniales %}
        <li>
            <div class="testimonial-text text-center">
                <p>{{t.testimonio}}</p>
            </div>
            <div class="testimonial-client text-center">
                <p><img src="/media/{{t.id_usuario.usuario.imagen}}" alt="Cliente" style="border-radius: 50px;  height: 70px; width: 70px"> <strong>{{t.id_usuario.first_name}} {{t.id_usuario.last_name}}</strong></p>
            </div>
            <div class="o-section text-center" style="margin: 0 auto!important;">
                    <div id="shop" class="text-center" style="margin: 0 auto!important;">
                      <div class="c-shop-item__img text-center" style="margin: 0 auto!important;"></div>
                        <div class="c-shop-item__details text-center" style="margin: 0 40% !important;">
                            <ul class="c-rating text-center" style="margin: 0 auto!important;">
                                {% for num in n %}
                                    {% if num <= t.puntuacion %}
                                    <li class="c-rating__item is-active text-center" data-index="{{num}}"></li>
                                    {% else %}
                                    <li class="c-rating__item text-center" data-index="4"></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                  </div>
            </div>
        </li>
        {% endfor %}
        </li>
    </ul>
</div>